.editable-error {
  color:#a94442;
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:14px;
  padding-left:5px;
  vertical-align:sub;
}

.editable-error:before {
  content:"\f071";
}

.editable-hide {
  display:none;
}

.editable-input {
  background:#f5f5f5;
  border-bottom:1px solid #ccc;
  border-left:none;
  border-right:none;
  border-top:none;
  color:#555;
  display:inline-block;
  height:1.8em;
  line-height:1.42857;
  width:310px;
}

.editable-input:focus {
  outline:none;
}

.request-header {
  background:#F5F5F5;
  border-bottom:1px solid #CCC;
  height:40px;
  padding-left:10px;
  padding-right:0;
  width:100%;
}

.request-header .request-description {
  color:#777;
  display:inline-block;
  margin-left:5px;
  vertical-align:middle;
}

.request-header .request-detail-item {
  border-left:1px solid #CCC;
  display:table-cell;
  padding:10px;
}

.request-header .request-id {
  display:inline-block;
  margin-top:8px;
  padding:0;
  vertical-align:middle;
}

.request-header .request-id .request-description {
  display:inline-block;
  max-width:320px;
  overflow:hidden;
  padding-left:5px;
  vertical-align:middle;
  white-space:nowrap;
}

.request-header .request-id i {
  vertical-align:middle;
}