.request-header {
  height: 40px;
  border-bottom: 1px solid #CCC;
  background-color: #F5F5F5;
  padding-left: 10px;
  padding-right: 0;
}

.request-header .request-id {
  display: table-cell;
  padding: 8px;
  padding-left: 0;
  vertical-align: sub;
}

.request-header .request-id i {
  vertical-align: middle;
}

.request-header .request-id .request-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

.request-header .request-detail-item {
  padding: 10px;
  border-left: 1px solid #CCC;
  display: table-cell;
}
