
<!-- Alerts are shown here -->
<div class="alert-messages">
  <div uib-alert ng-repeat="alert in $root.alerts"  ng-class="'alert-' + (alert.type || 'warning')" close="alert.close()">
    <span ng-bind-html="alert.message"></span>
  </div>
</div>


<section class="search-header container-fluid">
  <div class="row">
    <div class="col-md-12">

      <uib-tabset active="active">
        <uib-tab ng-repeat="schema in $ctrl.schemas" heading="{{schema.id}}" ng-click="$ctrl.activateSchema(schema)"></uib-tab>
      </uib-tabset>

    </div>
  </div>
</section>


<section class="search-toolbar container-fluid" ng-if="$ctrl.tableService.table">
  <div class="row">
    <div class="col-lg-12">
      <column-selector schema="$ctrl.schema" table="$ctrl.tableService.table"></column-selector>
      <filter-builder schema="$ctrl.schema" table="$ctrl.tableService.table"></filter-builder>
    </div>
  </div>
</section>


<section class="search-table"  ng-if="$ctrl.tableService.table">

  <!-- Loading overlay -->
  <div class="loading-overlay" ng-if="$ctrl.loading == 'started' || $ctrl.loading == 'error'">
    <span us-spinner ng-if="$ctrl.loading === 'started'"></span>
    <i class="fa fa-3x fa-exclamation-triangle" ng-if="$ctrl.loading === 'error'"></i>
  </div>

  <div id="table" ag-grid="$ctrl.tableService.table.gridOptions" class="ag-fresh"></div>

</section>


<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">

          <div class="form-group" style="padding-top: 12px; width: 170px;">
            <span ng-if="$ctrl.page.totalElements" style="vertical-align: middle;">
              <b>{{$ctrl.page.totalElements}}</b> points for this filter
            </span>
          </div>

          <div class="form-group" style="padding-top: 12px; width: 120px;">
              <span ng-if="$ctrl.page.totalElements" style="vertical-align: middle;">
                <b>{{$ctrl.getNumPointsSelected()}}</b> selected points
              </span>
          </div>

          <div class="form-group" style="padding-top: 12px; ">
              <span ng-if="$ctrl.page.totalElements" >
                <input type="checkbox" style="margin-left: 5px" ng-model="$ctrl.showSelectedPoints" 
                ng-click="$ctrl.showSelection()" ng-disabled="$ctrl.getNumPointsSelected() === 0"> 
                show selected 
              </span>
          </div>
          
          <div class="form-group" style="padding-left: 10px;">
            <button class="btn btn-sm btn-primary pull-right" ng-if="$ctrl.page.totalElements" 
              ng-click="$ctrl.clearSelection()" ng-disabled="$ctrl.getNumPointsSelected() === 0">
                <i class="fa fa-pencil"></i>
                Clear selection
              </button>
          </div>

          <div class="pull-right">
            <div class="form-group">
              <search-footer schema="$ctrl.schema"></search-footer>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>