<div class="column-picker pull-left">

  <script type="text/ng-template" id="column-picker-popover.tpl">

      <div class="popover-title">
        Select columns
        
        <button type="button"
                ng-show="$ctrl.hasDefaultFilter()"
                ng-click="$ctrl.applyDefaultFilter()"
                class="btn btn-sm btn-default"
                style="margin-left: 20px;">
          Apply Default Filter
        </button>

      </div>


      <div class="popover-content-scroll">
        <ul>
          <li ng-repeat="category in $ctrl.schema.categories"
              class="category-label"
              ng-click="$ctrl.toggleCategory(category)">
            <span>
              <strong>{{::category.name}}</strong>

              <i ng-if="$ctrl.table.isVisibleColumnGroup(category.fields)" class="fa fa-check pull-right"
                 style="margin-top: 4px;"></i>
              <i ng-if="$ctrl.table.isInvalidCategory(category)" class="fa fa-exclamation-triangle text-danger pull-right" style="margin-top: 4px;"></i>
            </span>
          </li>

          <li class="divider" ng-if="$ctrl.schema.datasources.length > 0"></li>

          <!-- Only show datasource if it has been selected as point type for at least one point -->
          <li ng-repeat="datasource in $ctrl.table.getActiveDatasources()"
              class="category-label"
              ng-click="$ctrl.toggleCategory(datasource)">
            <span>
              <strong>{{::datasource.name}}</strong>

              <i ng-if="$ctrl.table.isVisibleColumnGroup(datasource.fields)" class="fa fa-check pull-right" style="margin-top: 4px;"></i>
              <i ng-if="$ctrl.table.isInvalidCategory(datasource)" class="fa fa-exclamation-triangle text-danger pull-right" style="margin-top: 4px;"></i>
            </span>
          </li>
        </ul>

      </div>


      <div class="popover-footer">
        <button type="button"
                ng-click="$ctrl.popoverIsOpen = false"
                class="btn btn-sm btn-default">
          Done
        </button>
      </div>

  </script>

  <button uib-popover-template="'column-picker-popover.tpl'"
          popover-placement="bottom-left"
          popover-trigger="'outsideClick'"
          popover-is-open="$ctrl.popoverIsOpen"
          ng-click="$ctrl.popoverIsOpen = !$ctrl.popoverIsOpen"
          type="button"
          class="btn btn-sm btn-default">
    <i class="fa fa-columns"></i>
    &nbsp;Select Columns
  </button>

</div>
