<div class="modal-header">
  <h3 class="modal-title" ng-bind-html="ctrl.updateHeader"></h3>
</div>

<div class="modal-body">

  <p><div ng-bind-html="ctrl.updateMessage"></div></p>

    <form class="form-horizontal" name="form">

      <div class="form-group has-feedback"
           ng-class="{ 'has-error': (form.description.$invalid && form.description.$dirty)
                                    || (form.$submitted && form.description.$invalid) }">
        <label class="col-sm-3 control-label">Description</label>

        <div class="col-sm-9">
          <input type="text" class="form-control" ng-model="ctrl.request.description" name="description"
                 placeholder="Description" required>
          <span class="help-block">Enter a general description of your request.</span>
        </div>
	  </div>


		  <!-- Domain-specific fields go here -->
      <div ng-repeat="field in ctrl.schema.fields">

		  <ng-form name="innerForm">
			  <div class="form-group has-feedback"
				   ng-class="{ 'has-error': (innerForm.$invalid && innerForm.$dirty)
                                         || (form.$submitted && innerForm.$invalid) }">
				  <label class="col-sm-3 control-label">{{field.name}}</label>

				  <div class="col-sm-9">

					  <input ng-if="(field.type !== 'autocomplete') && (field.type !== 'options')"
							 type="{{field.type}}"
							 class="form-control"
							 ng-model="$ctrl.request.properties[field.id]"
							 ng-required="{{field.required}}"
							 name="{{field.name}}"
							 placeholder="{{field.name}}">

					  <ui-select ng-if="field.type === 'autocomplete'"
								 ng-model="$ctrl.request.properties[field.id]"
								 theme="bootstrap"
								 ng-required="{{field.required}}">
						  <ui-select-match placeholder="Type to search...">
							  {{$select.selected[field.model ? field.model : 'value' ]}}
						  </ui-select-match>
						  <ui-select-choices repeat="item in ctrl.removeDuplicates(ctrl.fieldValues, field.model) | filter: $select.search"
											 refresh="ctrl.queryFieldValues(field, $select.search)"
											 refresh-delay="0">
							  <div ng-bind-html="item[field.model ? field.model : 'value' ] | highlight: $select.search"></div>
						  </ui-select-choices>
					  </ui-select>

					  <ui-select ng-if="field.type === 'options'"
								 ng-model="$ctrl.request.properties[field.id]"
								 theme="bootstrap"
								 ng-required="{{field.required}}">
						  <ui-select-match placeholder="Select an item...">
							  {{$select.selected}}
						  </ui-select-match>
						  <ui-select-choices repeat="item in field.options">
							  <div ng-bind-html="item | highlight: $select.search"></div>
						  </ui-select-choices>
					  </ui-select>


					  <span class="help-block">
					  <span>{{field.help}}</span>
					  <a ng-if="field.helpUrl" href="{{field.helpUrl}}" rel="noopener" target="_blank">
					    <span class="glyphicon glyphicon-question-sign"></span>
					  </a>
				  </span>
				  </div>
			  </div>
		  </ng-form>


      </div>

    </form>

</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ctrl.ok()" ng-disabled="form.$invalid">OK</button>
</div>
