/bin/
/build/
/data/
.rest-shell.log
spring-shell.log
.springBeans
.settings
.classpath
.project
.gradle
make_tunnels.sh
.DS_Store
.idea/
.xml/
modesti-api.iml
# Exclude properties files
modesti-dev.properties
modesti-prod.properties
.~lock*
