/bin/
/build/
.rest-shell.log
spring-shell.log
.gradle
gradle
gradlew
gradlew.bat
.springBeans
.settings
.classpath
.project

# Exclude properties files
modesti-test.properties
modesti-prod.properties
