/bin/
/build/
/data/
/out/
.rest-shell.log
spring-shell.log
.springBeans
.settings
.classpath
.project
.gradle
make_tunnels.sh
.DS_Store
.idea/
.xml/
*.iml
# Exclude properties files in the root directory
/modesti*.properties
common.properties
.~lock*
node_modules
