<div class="row">

  <div class="col-md-3">
    <span class="label pull-left"
          ng-class="ctrl.parent.hasErrors() > 0 ? 'bg-red' : 'bg-gray'"
          tooltip="{{ctrl.parent.getTotalErrors()}} problems(s) found. Click to view details."
          tooltip-placement="right">
      <i class="fa fa-fw fa-exclamation-circle"></i> {{ctrl.parent.getTotalErrors()}}
    </span>
  </div>

  <div class="col-md-9">
    <div ng-if="ctrl.parent.isCurrentUserAuthorised()" class="pull-right">

      <!-- Request has been claimed -->
      <div ng-if="ctrl.parent.isCurrentTaskClaimed()">

        <!-- Request has been claimed by us -->
        <div ng-if="ctrl.parent.isCurrentUserAssigned()">

          <div class="btn-group pull-right">

            <button class="btn btn-primary"
                    ng-disabled="ctrl.parent.submitting == 'started'"
                    ng-click="ctrl.submit($event)"
                    tooltip-append-to-body="true"
                    tooltip="Trigger synchronisation">

              <!--Show icon based on the loading state-->
              <i class="fa fa-fw fa-refresh" ng-show="ctrl.submitting == undefined"></i>
              <i class="fa fa-fw fa-spin fa-cog" ng-show="ctrl.submitting == 'started'"></i>
              <i class="fa fa-fw fa-cog" ng-show="ctrl.submitting == 'success'"></i>
              <i class="fa fa-fw fa-exclamation-triangle" ng-show="ctrl.submitting == 'error'"></i>
              Synchronise
            </button>
          </div>

        </div>

        <!-- Request is assigned to someone else -->
        <div ng-if="!ctrl.parent.isCurrentUserAssigned()">
          <div>
            Request assigned to:
            <a href="users/{{ctrl.parent.getAssignee()}}" ng-click="$event.stopPropagation();">
              {{ctrl.parent.getAssignee()}}
            </a>
          </div>
        </div>
      </div>

      <!-- Request is unclaimed -->
      <div ng-if="!ctrl.parent.isCurrentTaskClaimed()">
        <div class="btn-group">
          <button class="btn btn-primary"
                  ng-click="ctrl.parent.claim($event)">
            Claim synchronisation responsibility
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
