<div class="modal-header">
  <h3 class="modal-title">
    <i class="fa fa-fw fa-exclamation-circle"></i>
    Reject request
  </h3>
</div>

<div class="modal-body">
  <p>
    You are about to reject request <b>{{ctrl.request.requestId}}</b>. Please supply a comment to the original creator
    specifying the reason for the rejection.
  </p>

  <form class="form-horizontal" name="rejectionReasonForm">
    <div class="form-group">
      <label for="rejectionReason" class="col-sm-2 control-label" translate>REASON</label>

      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               id="rejectionReason"
               ng-model="request.approval.message"
               placeholder="{{'REJECTION_REASON'|translate}}"
               required>
      </div>
    </div>
  </form>

</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="ctrl.cancel()" translate>CANCEL</button>
  <button class="btn btn-primary" ng-click="ctrl.ok()" ng-disabled="rejectionReasonForm.$invalid">OK</button>
</div>