<!--<div class="modal-header">-->
  <!--<h3 class="modal-title">Sign In</h3>-->
<!--</div>-->
<div class="modal-body">
  <div class="login-box">
    <div class="login-logo">
      <a>modesti</a>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg" translate>SIGN_IN_MSG</p>

      <div class="alert alert-danger bg-red" ng-show="ctrl.loginError" translate>
        SIGN_IN_ERROR
      </div>

      <form ng-submit="ctrl.login()">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="{{'USERNAME'|translate}}" id="username" ng-model="ctrl.credentials.username"/>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="{{'PASSWORD'|translate}}" id="password" ng-model="ctrl.credentials.password"/>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-5 pull-right">
            <button type="submit" class="btn btn-primary btn-block btn-flat" translate>SIGN_IN</button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
<!--<div class="modal-footer">-->
  <!--<button class="btn btn-primary" ng-click="ctrl.login()">Sign In</button>-->
<!--</div>-->