<section class="content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <h3>Search for points</h3>

        <div class="form-group form-inline">

          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-crosshairs"></i>
              Domain:
              </span>{{ctrl.schema.id}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" ng-click="ctrl.filter.domain = ''">{{'ANY'|translate}}</a>
              </li>
              <li class="divider"></li>
              <li ng-repeat="domain in ctrl.domains">
                <a href="" ng-click="ctrl.useDomain(domain)">{{domain}}</a>
              </li>
            </ul>
          </div>

          <div class="btn-group" dropdown ng-repeat="category in ctrl.schema.categories">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
              {{category.name_en}}:
              </span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" ng-click="">{{'ANY'|translate}}</a>
              </li>
              <li class="divider"></li>
              <li ng-repeat="field in category.fields">
                <a href="" ng-click="">{{field.name_en}}</a>
              </li>
            </ul>
          </div>

          <div class="btn-group" dropdown ng-repeat="datasource in ctrl.schema.datasources">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
              {{datasource.name_en}}:
              </span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" ng-click="">{{'ANY'|translate}}</a>
              </li>
              <li class="divider"></li>
              <li ng-repeat="field in datasource.fields">
                <a href="" ng-click="">{{field.name_en}}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input type="text" id="searchQuery" autocomplete="on" class="form-control" placeholder="Query" ng-model="ctrl.query">
              <span class="input-group-btn">
                <input class="btn btn-default" type="submit" ng-click="ctrl.search()">Submit</input>
              </span>
          </div>
        </div>


        <alert ng-if="ctrl.error" type="danger">{{ctrl.error.status}} {{ctrl.error.statusText}}</alert>

        <div ng-repeat="point in ctrl.points track by point.id">
          <span>id: {{point.id}}</span>
          <span>lineNo: {{point.lineNo}}</span>
          <span ng-repeat="(k, v) in point.properties">
            {{k}}: {{v}}
          </span>
        </div>


      </div>
    </div>
  </div>

</section>





