.drop-zone {
  border: 2px dashed #ccc;
  margin-top: 55px;
  height: 250px;
  display: table;
  width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 8px;
}

.nv-file-over {
  border: dashed 2px #777;
}

.control-label {
  text-align: left !important;
}

.drop-zone span {
  display: table-cell;
  vertical-align: middle;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
