<!DOCTYPE html>
<!--[if gte IE 10]><!-->
<html ng-app="modesti" class="no-js" lang="en">
<!--<![endif]-->
<head>

<title ng-bind-template="{{$title | translate}} · modesti">modesti</title>
<base href="/">

<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(app) styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/normalize.css/normalize.css" />
<link rel="stylesheet" href="bower_components/pikaday/css/pikaday.css" />
<link rel="stylesheet" href="bower_components/handsontable/dist/handsontable.css" />
<link rel="stylesheet" href="bower_components/famfamfam-flags-sprite/src/flags-sprite.min.css" />
<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
<link rel="stylesheet" href="bower_components/select2/select2.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/AdminLTE.css">
<link rel="stylesheet" href="styles/skins/skin-blue-light.css">
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>

<body class="skin-blue-light sidebar-collapse">

<!--[if lt IE 10]>
<div class="col-lg-12">
  <div class="alert alert-warning" style="margin-top: 20px; z-index: 1000;">
    <p translate>UNSUPPORTED_BROWSER_WARNING</p>
  </div>
  <div class="clearfix"></div>
</div>
<![endif]-->


    <header class="main-header" ng-controller="LayoutController as ctrl">

      <div class="container-fluid">
        <div class="row">
      <a ui-sref="requests" class="logo"> modesti <small style="font-size: 50%">v0.1</small></a>

      <nav class="navbar navbar-static-top" role="navigation">

        <!-- Sidebar toggle button-->
        <!--<a ng-href="#/" class="sidebar-toggle" data-toggle="offcanvas" role="button">-->
          <!--<span class="sr-only">Toggle navigation</span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</a>-->
        <div class="navbar-custom-menu pull-left">
          <ul class="nav navbar-nav">
            <li>
              <a ui-sref="requests"  tooltip="{{'REQUESTS'|translate}}" tooltip-placement="bottom">
                <i class="fa fa-list-ol"></i>
              </a>
            </li>
            <li>
              <a ui-sref="new" tooltip="{{'NEW_REQUEST'|translate}}" tooltip-placement="bottom">
                <i class="fa fa-plus"></i>
              </a>
            </li>
            <li>
              <a ui-sref="upload" tooltip="{{'UPLOAD_REQUEST'|translate}}" tooltip-placement="bottom">
                <i class="fa fa-upload"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar-custom-menu" ng-cloak>
          <ul class="nav navbar-nav">

            <li class="dropdown user user-menu">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" ng-cloak>
                <span class="hidden-xs">
                  <div class="flag-icon {{ctrl.getCurrentLanguage() == 'en' ? 'gb' : 'fr'}}"
                       style="vertical-align: middle"></div>
                  {{ctrl.getCurrentLanguage()}}
                </span>
              </a>
              <ul class="dropdown-menu"  ng-cloak>
                <li>
                  <a href="" ng-click="ctrl.changeLanguage('en')" class="header">
                    <div class="flag-icon gb" style="vertical-align: middle"></div>
                    English
                  </a>
                </li>
                <li>
                  <a href="" ng-click="ctrl.changeLanguage('fr')" class="header">
                    <div class="flag-icon fr" style="vertical-align: middle"></div>
                    Français
                  </a>
                </li>
              </ul>
            </li>

            <li style="margin-left: 10px">
              <form class="navbar-form navbar-left sidebar-form" role="search" ng-cloak>
                <div class="form-group input-group">
                  <input type="text" name="q" ng-model="q" class="form-control input-sm" placeholder="{{'SEARCH_REQUESTS'|translate}}">
                  <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-sm btn-flat navbar-btn" ng-click="ctrl.search(q)">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </li>

            <!-- Messages: style can be found in dropdown.less-->
<!--             <li class="dropdown messages-menu">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success">4</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 4 messages</li>
                <li>
                  inner menu: contains the actual data
                  <ul class="menu">
                    <li>
                      start message
                      <a href="#">
                        <div class="pull-left">
                          <img src="images/no-avatar.png" class="img-circle" alt="User Image" />
                        </div>
                        <h4>
                          Somebody <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <p>This is a new message</p>
                      </a>
                    </li>
                    end message
                  </ul>
                </li>
                <li class="footer">
                  <a href="#">See All Messages</a>
                </li>
              </ul>
            </li> -->
            <!-- Notifications: style can be found in dropdown.less -->
<!--             <li class="dropdown notifications-menu">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">10</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 10 notifications</li>
                <li>
                  inner menu: contains the actual data
                  <ul class="menu">
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-aqua"></i>
                        5 new requests today
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer">
                  <a href="#">View all</a>
                </li>
              </ul>
            </li> -->
            <!-- Tasks: style can be found in dropdown.less -->
            <!-- <li class="dropdown tasks-menu">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-flag-o"></i>
                <span class="label label-danger">9</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 9 tasks</li>
                <li>
                  inner menu: contains the actual data
                  <ul class="menu">
                    <li>
                      Task item
                      <a href="#">
                        <h3>
                          Approve these alarms <small class="pull-right">20%</small>
                        </h3>
                        <div class="progress xs">
                          <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                            aria-valuemax="100">
                            <span class="sr-only">20% Complete</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    end task item
                  </ul>
                </li>
                <li class="footer">
                  <a href="#">View all tasks</a>
                </li>
              </ul>
            </li> -->
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="" ng-click="ctrl.login()" ng-if="!ctrl.isAuthenticated()" ng-cloak>
                <span class="hidden-xs" >
                  <i class="fa fa-fw fa-sign-in"></i>
                    {{'SIGN_IN'|translate}}
                </span>
              </a>

              <a href="" class="dropdown-toggle" data-toggle="dropdown" ng-if="ctrl.isAuthenticated()" ng-cloak>
                <!--<img src="images/no-avatar.png" class="user-image" alt="User Image" />-->
                <span class="hidden-xs">

                    {{ctrl.user.firstName}} {{ctrl.user.lastName}}
                  <span class="caret"></span>
                </span>
              </a>
              <ul class="dropdown-menu" ng-show="ctrl.isAuthenticated()" ng-cloak>
                <li>
                  <a href="#/users/{{ctrl.user.username}}" class="header">
                    <i class="fa fa-fw fa-user"></i>
                    Profile ({{ctrl.user.username}})
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="" class="header" ng-click="ctrl.logout()">
                    <i class="fa fa-fw fa-sign-out"></i>
                    {{'SIGN_OUT'|translate}}
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </nav>
        </div>
      </div>
    </header>

    <!-- =============================================== -->

    <!--&lt;!&ndash; Left side column. contains the sidebar &ndash;&gt;-->
    <!--<aside class="main-sidebar">-->
      <!--&lt;!&ndash; sidebar: style can be found in sidebar.less &ndash;&gt;-->
      <!--<section class="sidebar">-->
        <!--&lt;!&ndash; Sidebar user panel &ndash;&gt;-->
        <!--&lt;!&ndash;         <div class="user-panel">-->
          <!--<div class="pull-left image">-->
            <!--<img src="images/no-avatar.png" class="img-circle" alt="User Image" />-->
          <!--</div>-->
          <!--<div class="pull-left info">-->
            <!--<p>Guest</p>-->

                        <!--<a href="#">-->
              <!--<i class="fa fa-circle text-success"></i>-->
              <!--Online-->
            <!--</a>-->
          <!--</div>-->
        <!--</div> &ndash;&gt;-->
        <!--&lt;!&ndash; search form &ndash;&gt;-->
        <!--<form class="sidebar-form">-->
          <!--<div class="input-group">-->
            <!--<input type="text" name="q" ng-model="q" class="form-control" placeholder="Search..." />-->
            <!--<span class="input-group-btn">-->
              <!--<button type='submit' name='search' id='search-btn' class="btn btn-flat" ng-click="ctrl.search(q)">-->
                <!--<i class="fa fa-search"></i>-->
              <!--</button>-->
            <!--</span>-->
          <!--</div>-->
        <!--</form>-->
        <!--&lt;!&ndash; /.search form &ndash;&gt;-->
        <!--&lt;!&ndash; sidebar menu: : style can be found in sidebar.less &ndash;&gt;-->
        <!--<ul class="sidebar-menu">-->
          <!--&lt;!&ndash; <li class="header">MAIN NAVIGATION</li> &ndash;&gt;-->
          <!--<li ng-class="{ active : ctrl.isActivePage('/new')}">-->
            <!--<a ui-sref="new">-->
              <!--<i class="fa fa-plus"></i>-->
              <!--<span>New Request</span>-->
            <!--</a>-->
          <!--</li>-->

          <!--<li ng-class="{ active : ctrl.isActivePage('/requests')}">-->
            <!--<a ui-sref="requests">-->
              <!--<i class="fa fa-list"></i>-->
              <!--<span>Requests</span>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</section>-->
      <!--&lt;!&ndash; /.sidebar &ndash;&gt;-->
    <!--</aside>-->

    <!-- =============================================== -->


    <div class="view-wrapper" ui-view></div>


<!--     <footer class="main-footer">
      <div class="pull-right hidden-xs">modesti v0.1</div>
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      <a href="http://cern.ch">CERN</a>

    </footer> -->

  <!-- ./wrapper -->

  <!-- build:js(app) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/modernizr/modernizr.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/restangular/dist/restangular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
  <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="bower_components/autofill-event/src/autofill-event.js"></script>
  <script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/pikaday/pikaday.js"></script>
  <script src="bower_components/handsontable/dist/handsontable.js"></script>
  <script src="bower_components/ngHandsontable/dist/ngHandsontable.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
  <script src="bower_components/spin.js/spin.js"></script>
  <script src="bower_components/angular-spinner/angular-spinner.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/select2/select2.js"></script>
  <script src="bower_components/angular-ui-router-title/angular-ui-router-title.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="app.js"></script>
  <script src="app.config.js"></script>
  <script src="app.routes.js"></script>
  <script src="components/layout/layout.js"></script>
  <script src="components/login/login-modal.js"></script>
  <script src="components/errors/interceptor.js"></script>
  <script src="components/request/request.new.js"></script>
  <script src="components/request/request.upload.js"></script>
  <script src="components/request/request.js"></script>
  <script src="components/request/requests.js"></script>
  <script src="components/request/modals/help-modal.js"></script>
  <script src="components/request/modals/comments-modal.js"></script>
  <script src="components/request/modals/history-modal.js"></script>
  <script src="components/request/modals/delegation-modal.js"></script>
  <script src="components/request/controls/creation-controls.js"></script>
  <script src="components/request/controls/creation-controls.directive.js"></script>
  <script src="components/request/controls/approval-controls.js"></script>
  <script src="components/request/controls/approval-controls.directive.js"></script>
  <script src="components/request/controls/addressing-controls.js"></script>
  <script src="components/request/controls/addressing-controls.directive.js"></script>
  <script src="components/request/controls/cabling-controls.js"></script>
  <script src="components/request/controls/cabling-controls.directive.js"></script>
  <script src="components/request/controls/config-controls.js"></script>
  <script src="components/request/controls/config-controls.directive.js"></script>
  <script src="components/request/controls/testing-controls.js"></script>
  <script src="components/request/controls/testing-controls.directive.js"></script>
  <script src="components/request/controls/modals/rejection-modal.js"></script>
  <script src="components/request/controls/modals/splitting-modal.js"></script>
  <script src="components/request/request.submitted.js"></script>
  <script src="components/point/points.js"></script>
  <script src="components/filters/active.js"></script>
  <script src="components/about/about.js"></script>
  <script src="components/users/user.js"></script>
  <script src="components/search/search.js"></script>
  <script src="components/services/auth-service.js"></script>
  <script src="components/services/request-service.js"></script>
  <script src="components/services/point-service.js"></script>
  <script src="components/services/schema-service.js"></script>
  <script src="components/services/task-service.js"></script>
  <script src="components/services/alert-service.js"></script>
  <script src="components/services/column-service.js"></script>
  <script src="components/services/validation-service.js"></script>
  <script src="components/services/history-service.js"></script>

  <script src="bower_components/Handsontable-select2-editor/select2-editor.js"></script>
  <!-- endbuild -->

</body>
</html>
