<div class="row">
  <div class="col-lg-12">

    <div class="pull-left">
      <h4 class="request-id">
        <i class="fa fa-list-ol fa-fw text-muted"></i>
        requests <span class="text-muted">/</span> {{::$ctrl.request.requestId}}
      </h4>
      <div class="request-description">
        <span editable-text="$ctrl.request.description"
              e-form="editableDescription"
              buttons="no"
              blur="submit"
              ng-click="editableDescription.$show()"
              ng-mouseenter="$ctrl.hover = true"
              ng-mouseleave="$ctrl.hover = false"
              onbeforesave="$ctrl.validateDescription($data)"
              onaftersave="$ctrl.saveRequest()">
          {{$ctrl.request.description}}

          <i class="fa fa-pencil"
             ng-click="editableDescription.$show()"
             ng-show="$ctrl.hover && !editableDescription.$visible"></i>
        </span>
      </div>
    </div>

    <div class="pull-right">

      <!-- Button to change the request creator -->
      <span class="request-owner-button text-muted"
            uib-tooltip="Change creator"
            tooltip-append-to-body="true"
            tooltip-placement="bottom"
            ng-show="$ctrl.isCurrentUserOwner()">
		        <button class="btn btn-sm btn-default toolbar-item"
				        ng-show="$ctrl.isCurrentUserOwner()"
				        ng-click="$ctrl.assignCreator()">
			        Change creator
		        </button>
      </span>

      <!-- Request creator -->
      <span class="request-detail-item text-muted"
            uib-tooltip="Creator"
            tooltip-append-to-body="true"
            tooltip-placement="bottom">
        <i class="fa fa-fw fa-user-md"></i>
        <a ui-sref="user({ id: $ctrl.getRequestCreator() })">{{$ctrl.getRequestCreator()}}</a>
      </span>


      <!-- Request domain -->
      <span class="request-detail-item text-muted"
            uib-tooltip="Domain"
            tooltip-append-to-body="true"
            tooltip-placement="bottom">
        <i class="fa fa-fw fa-crosshairs"></i>
        <a href="https://readthedocs.web.cern.ch/display/modesti/{{::$ctrl.request.domain}}" target="_blank">{{::$ctrl.request.domain}}</a>
      </span>


      <!-- If this is a child request, reference its parent -->
      <span class="request-detail-item"
            ng-if="$ctrl.request.parentRequestId">
         parent: <a href="requests/{{$ctrl.request.parentRequestId}}">{{::$ctrl.request.parentRequestId}}</a>
      </span>


      <!-- If this is a parent request, list its children -->
      <span class="request-detail-item"
            ng-if="$ctrl.children.length > 0">
         children:
        <span ng-repeat="child in $ctrl.children">
          <a href="requests/{{child.requestId}}">{{::child.requestId}}</a>
        </span>
      </span>


      <!-- Request type -->
      <span class="request-detail-item text-muted"
            uib-tooltip="Request Type"
            tooltip-append-to-body="true"
            tooltip-placement="bottom">

        <span class="badge request-type" ng-class="'{{::$ctrl.request.type}}'">
          {{$ctrl.request.type | uppercase}}
        </span>
      </span>


      <!-- Request status -->
      <span class="request-detail-item"
            uib-tooltip="Status"
            tooltip-append-to-body="true"
            tooltip-placement="bottom">
        <span class="label request-status" ng-class="'{{::$ctrl.request.status}}'">
          {{::$ctrl.request.status.split("_").join(" ")}}
        </span>
      </span>

    </div>

  </div>
</div>

