<div class="btn-group">
  <!-- Button to add a new row -->
  <button class="btn btn-default" ng-click="ctrl.addRow()" tooltip-append-to-body="true" tooltip="Add row">
      <i class="fa fa-fw fa-plus"></i>
  </button>

  <!-- Button to duplicate selected rows -->
  <button class="btn btn-default" ng-click="ctrl.duplicateSelectedRows()" tooltip-append-to-body="true" tooltip="Duplicate selected rows"
          ng-disabled='!ctrl.parent.checkboxes.dirty'>
      <i class="fa fa-fw fa-copy"></i>
  </button>

  <!-- Button to delete selected rows -->
  <button class="btn btn-default" ng-click="ctrl.deleteSelectedRows()" tooltip-append-to-body="true" tooltip="Delete selected rows"
          ng-disabled='!ctrl.parent.checkboxes.dirty'>
      <i class="fa fa-fw fa-trash"></i>
  </button>
</div>

<!-- <div class="btn-group pull-right">
  <div class="btn-group" ng-click="ctrl.validate()">
    Button to validate the request
    <button ng-show="$root.validating == undefined" class="btn btn-primary"  tooltip-append-to-body="true" tooltip="Validate request">
       <i class="fa fa-fw fa-check-square-o"></i> Validate
    </button>

    <button ng-show="$root.validating == 'started'" class="btn btn-primary" tooltip-append-to-body="true" tooltip="Validating...">
       <i class="fa fa-fw fa-spin fa-cog"></i> Validate
    </button>

    <button ng-show="$root.validating == 'success'" ng-disabled="$root.validating == 'success'" class="btn btn-success" tooltip-append-to-body="true" tooltip="Request is valid">
       <i class="fa fa-fw fa-check-square-o"></i> Validate
    </button>

    <button ng-show="$root.validating == 'error'" class="btn btn-danger" tooltip-append-to-body="true" tooltip="Problem validating request">
       <i class="fa fa-fw fa-exclamation-triangle"></i> Invalid
    </button>
  </div> -->
  
  

  <!-- Button to submit the request -->
  <button class="btn btn-primary pull-right" ng-click="ctrl.submit()" ng-disabled="ctrl.parent.tableForm.$invalid" tooltip-append-to-body="true" tooltip="Submit request">
      <i class="fa fa-fw fa-external-link"></i> Submit
  </button>
  
  
  <p class="form-control-static pull-right" style="margin-right:10px;">
    <small>request valid: {{ctrl.parent.tableForm.$valid}}</small>  
  </p>
  
<!-- </div> -->