
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    MODESTI Dashboard
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-12">
      <div class="alert">
        <h4>
          <i class="icon fa fa-info"></i> Welcome to MODESTI!
        </h4>
        Eventually this page should have some useful stuff on. For now though, it's empty.
      </div>

      <p><a href="#/login">login</a></p>
    </div>
  </div>

</section>