<style>
  .justify {
    text-align: justify;
  }
</style>

<section class="content">

  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <div class="page-header">
          <h1>MODESTI <i class="fa fa-2x fa-list-ol pull-right" style="margin-top: 6px;"></i></h1>

          <p class="lead text-muted">Monitoring Data Entry System for Technical Infrastructure</p>
        </div>

        <div class="page-body justify">
          <h3>What is MODESTI?</h3>

          <p>MODESTI is a tool for centrally managing the definition of monitoring data circulating at CERN. There are
            tens of thousands of sensors and other pieces of equipment at CERN that are constantly emitting data
            (referred
            to as <b>data points</b>). Those data points need to be constantly monitored to make sure that they are
            healthy.</p>

          <p>There are multiple systems at CERN that are used to acquire these data points, and each has a different way
            of representing that data. MODESTI is aware of these systems, and is capable of creating, updating and
            deleting data points on them. It
            also makes sure that the relevant people are informed when points are added or updated, keeping those who
            need
            to know in the loop. When everybody has agreed that the data points are correct, they are automatically
            configured on the target system and are ready to be used in operation.</p>

          <h4>Alarms</h4>

          <p>Data points from some equipment are so critical that they trigger an alarm if their value
            goes above or below a certain threshold, or if they stop being sent altogether. It is absolutely essential
            that these data points are well-defined and that everybody knows what to do when that alarm is
            triggered.</p>

          <p>The operational staff working in the CERN Control Centre are responsible for monitoring and acting upon
            alarms, which are centrally gathered and displayed in LASER, the main alarm system. </p>

          <p>Therefore, when MODESTI detects that an alarm is being created, the operators are automatically informed
            and must explicitly review and agree upon the format of the alarm. Once agreed upon, the alarm definition is
            given to LASER so that it is able to display the alarm when it is received.</p>


          <h3>Why do I need MODESTI?</h3>

          <p>Equipment is added and removed every day, so there needs to be a simple and easy
            way to centrally record what data is being emitted from that equipment. MODESTI allows you to define data
            points for a wide range of systems, and can easily integrate new systems thanks to its flexible plugin-based
            architecture.</p>

          <h3>How can I use it?</h3>

          <p>To begin with, use the links at the top of the page to get started. You can <a href="#/requests">view the
            current requests</a>, <a href="#/requests/new">create a new request</a> or <a href="#/requests/upload">upload
            an existing request</a>. </p>

          <h3>Help and support</h3>

          <p>If you are a MODESTI user and you are having trouble with the system, please send an email to <a
              href="mailto:modesti-support@cern.ch">modesti-support@cern.ch</a>. </p>

          <p>If you think you have found a bug in the system and you know how to file a bug report, please create one <a
              href="https://gitlab.cern.ch/modesti/modesti/issues">here</a>. </p>

        </div>
      </div>
    </div>
  </div>

</section>