<style>
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #e6e6e6;
    color: #444;
  }

  .tasklist-controls {
    margin-bottom: 10px;
  }

  .tasklist-controls .search-form input[type="text"] {
    box-shadow: none;
    border-right: none;
  }

  .tasklist-controls .search-form input[type="text"]:focus {
    border-color: #D2D6DE !important;
    /*/border-left: none;*/
  }

  .tasklist-controls .search-form .btn {
    box-shadow: none;
    background-color: #fff;
    border-color: #D2D6DE;
    border-left: none;
  }

  .todo-list > li .tools {
    display: inline-block;
  }

  .todo-list > li .label {
    font-size: 12px;
  }

  .todo-list .request-icon {
    display: table-cell;
  }

  .todo-list .request-title {
    display: table-cell;
    width: 100%;
  }

  .todo-list .request-title .label {
    margin-left: 2px !important;
  }
  
  .pagination {
    margin: 0
  }
</style>


<!-- Main content -->
<section class="content">
  <div class="row">



    <style>
      .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
      }

      .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      .sidebar-menu {;
      }
    </style>


    <div class="container">

      <div class="col-md-3">
        <div class="sidebar-menu">
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active: ctrl.filter.status == ''}">
              <a href="" ng-click="ctrl.filter.status = ''">
                <i class="fa fa-fw fa-circle-o"></i> All </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'IN_PROGRESS'}">
              <a href="" ng-click="ctrl.filter.status = 'IN_PROGRESS'">
                <i class="fa fa-fw fa-inbox"></i> In Progress
                <span class="label request-status pull-right" ng-class="'IN_PROGRESS'">{{(ctrl.requests | filter:{status: 'IN_PROGRESS'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'FOR_CORRECTION'}">
              <a href="" ng-click="ctrl.filter.status = 'FOR_CORRECTION'">
                <i class="fa fa-fw fa-exclamation-circle"></i> For Correction
                <span class="label request-status pull-right" ng-class="'FOR_CORRECTION'">{{(ctrl.requests | filter:{status: 'FOR_CORRECTION'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'FOR_APPROVAL'}">
              <a href="" ng-click="ctrl.filter.status = 'FOR_APPROVAL'">
                <i class="fa fa-fw fa-bell-o"></i> For Approval
                <span class="label request-status pull-right" ng-class="'FOR_APPROVAL'">{{(ctrl.requests | filter:{status: 'FOR_APPROVAL'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'FOR_ADDRESSING'}">
              <a href="" ng-click="ctrl.filter.status = 'FOR_ADDRESSING'">
                <i class="fa fa-fw fa-tasks"></i> For Addressing
                <span class="label request-status pull-right" ng-class="'FOR_ADDRESSING'">{{(ctrl.requests | filter:{status: 'FOR_ADDRESSING'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'FOR_CABLING'}">
              <a href="" ng-click="ctrl.filter.status = 'FOR_CABLING'">
                <i class="fa fa-fw fa-plug"></i> For Cabling
                <span class="label request-status pull-right" ng-class="'FOR_CABLING'">{{(ctrl.requests | filter:{status: 'FOR_CABLING'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'FOR_TESTING'}">
              <a href="" ng-click="ctrl.filter.status = 'FOR_TESTING'">
                <i class="fa fa-fw fa-check-square-o"></i> For Testing
                <span class="label request-status pull-right" ng-class="'FOR_TESTING'">{{(ctrl.requests | filter:{status: 'FOR_TESTING'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'CLOSED'}">
              <a href="" ng-click="ctrl.filter.status = 'CLOSED'">
                <i class="fa fa-fw fa-lock"></i> Closed
                <span class="label request-status pull-right" ng-class="'CLOSED'">{{(ctrl.requests | filter:{status: 'CLOSED'}).length}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="col-md-9">

        <div class="tasklist-controls">
          <div class="btn-group">
            <div class="btn-group" dropdown>
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                <i class="fa fa-fw fa-square"></i>
                  <span class="text-muted">{{'SYSTEM'|translate|lowercase}}:
                  </span>{{ctrl.filter.subsystem.system != '' ? ctrl.filter.subsystem.system : ('ANY'|translate)}} <span
                  class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="" ng-click="ctrl.filter.subsystem.system = ''; ctrl.filter.subsystem.subsystem = ''">{{'ANY'|translate}}</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="request in ctrl.requests | unique:'subsystem.system'">
                  <a href="" ng-click="ctrl.filter.subsystem.system = request.subsystem.system">{{request.subsystem.system}}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group" dropdown>
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle
                      ng-disabled="ctrl.filter.subsystem.system == ''">
                <i class="fa fa-fw fa-sitemap"></i>
                  <span class="text-muted">{{'SUBSYSTEM'|translate|lowercase}}:
                  </span>{{ctrl.filter.subsystem.subsystem != '' ? ctrl.filter.subsystem.subsystem : ('ANY'|translate)}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="" ng-click="ctrl.filter.subsystem.subsystem = ''">{{'ANY'|translate}}</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="request in ctrl.requests | filter:ctrl.filter.subsystem.system | unique:'subsystem.subsystem'">
                  <a href="" ng-click="ctrl.filter.subsystem.subsystem = request.subsystem.subsystem">{{request.subsystem.subsystem}}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-crosshairs"></i>
                <span class="text-muted">{{'DOMAIN'|translate|lowercase}}:
                </span>{{ctrl.filter.domain != '' ? ctrl.filter.domain : ('ANY'|translate)}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" ng-click="ctrl.filter.domain = ''">{{'ANY'|translate}}</a>
              </li>
              <li class="divider"></li>
              <li ng-repeat="request in ctrl.requests | unique:'domain'"><a href=""
                                                                            ng-click="ctrl.filter.domain = request.domain">{{request.domain}}</a>
              </li>
            </ul>
          </div>

          <!--             <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                          <i class="fa fa-fw fa-sitemap"></i>
                          <span class="text-muted">categories: </span>{{ctrl.filter.categories != '' ? ctrl.filter.categories : 'Any'}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li>
                            <a href="" ng-click="ctrl.filter.categories = ''">Any</a>
                          </li>
                          <li class="divider"></li>
                          <li ng-repeat="request in ctrl.requests | unique:'categories'"><a href="" ng-click="ctrl.filter.categories = request.categories">{{request.categories}}</a></li>
                        </ul>
                      </div> -->

          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-user"></i>
                <span class="text-muted">{{'CREATOR'|translate|lowercase}}:
                </span>{{ctrl.filter.creator.username != '' ? ctrl.filter.creator.username : ('ANY'|translate)}} <span
                class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" ng-click="ctrl.filter.creator.username = ''">{{'ANY'|translate}}</a>
              </li>
              <li class="divider"></li>
              <li ng-repeat="request in ctrl.requests | unique:'creator.username'">
                <a href="" ng-click="ctrl.filter.creator.username = request.creator.username">{{request.creator.username}}</a>
              </li>
            </ul>
          </div>

          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
              <span class="text-muted">type: </span>{{ctrl.filter.type != '' ? ctrl.filter.type : ('ANY'|translate)}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" ng-click="ctrl.filter.type = ''">{{'ANY'|translate}}</a>
              </li>
              <li class="divider"></li>
              <li ng-repeat="request in ctrl.requests | unique:'type'">
                <a href="" ng-click="ctrl.filter.type = request.type">{{request.type}}</a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="tasklist-controls">
            <form class="form-inline search-form">
              <div class="form-group input-group">
                <input type="text" name="q" ng-model="q" class="form-control" placeholder="Search requests..."> <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
        </div>

        <div class="loading-container" style="height: 400px; width: 100%" ng-if="ctrl.loading == 'started' || ctrl.loading == 'error'">
          <span us-spinner="{position: 'absolute', zIndex: '200'}" ng-if="ctrl.loading == 'started'"></span>
          <i class="fa fa-2x fa-exclamation-triangle" ng-if="ctrl.loading == 'error'" style="position: absolute; top: 50%; left: 50%;"></i>
        </div>
        
        <div class="list-group" ng-if="ctrl.loading == 'success'">
          <a ng-repeat="request in ctrl.requests | filter: ctrl.filter"
             ng-click="ctrl.editRequest(request)" 
              class="list-group-item">


<!--             <div class="request-icon">
              <i class="fa fa-list-ol fa-fw text-muted vcenter"></i>
            </div>
            <div class="request-title">
              <span class="text">{{request.description}}</span> 
              <span class="label request-status pull-right" ng-class="'{{request.status}}'">{{request.status.replace('_',  ' ')}}</span> 
              
              <span class="text-muted" style="margin-left: 5px;"> #{{request.requestId}} {{'BY'|translate}} <i class="fa fa-fw fa-user"></i>
                {{request.creator.username}}
              </span> <span class="text-muted"> <i class="fa fa-fw fa-user"></i> {{request.type}}
              </span> <span class="text-muted" style="margin-left: 5px;"> <i class="fa fa-fw fa-crosshairs"></i> {{request.domain}} &middot;
              </span> <span class="text-muted"> <i class="fa fa-fw fa-sitemap"></i> {{request.subsystem.value}} &middot;
              </span> <span class="text-muted"> <i class="fa fa-fw fa-cogs"></i> {{request.categories.join(', ')}}
              </span>
            </div> -->

            <i class="fa fa-list-ol fa-fw text-muted"></i>
            <span class=""><strong>{{request.description}}</strong></span>
            <span class="label request-status small pull-right" ng-class="'{{request.status}}'">{{request.status.replace('_', ' ')}}</span>
            <br />
            <span class="" style="font-size: 11px;">
              <span class="text-muted">#{{request.requestId}} {{'BY'|translate}} {{request.creator.username}} &middot;</span>
              <span class="text-muted"> <i class="fa fa-fw fa-crosshairs"></i> {{request.domain}} &middot; </span>
              <span class="text-muted"> <i class="fa fa-fw fa-sitemap"></i>    {{request.subsystem.value}} &middot; </span>
              <span class="text-muted"> <i class="fa fa-fw fa-cogs"></i>       {{request.categories.join(', ')}}</span>
            </span>
            </a>
          </div>
        
          
            <div class="text-center">
            <pagination boundary-links="true" 
                        total-items="ctrl.page.totalElements"
                        items-per-page="ctrl.page.size"
                        ng-model="ctrl.page.number"
                        ng-change="ctrl.onPageChanged()"
                        class="pagination-sm" 
                        previous-text="&lsaquo;" 
                        next-text="&rsaquo;" 
                        first-text="&laquo;" 
                        last-text="&raquo;"></pagination>
            
            </div>
                        
            <!-- <span class="pull-right" ng-cloak>{{ctrl.page.totalElements}} requests in total</span> -->
      </div>
    </div>


  </div>
  <!-- /.row -->
</section><!-- /.content -->
