<style>
  html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
  }

  /** Header styles */
  .request-header {
    height: 40px;
    border-bottom: 1px solid #CCC;
    background-color: #F5F5F5;
    padding-left: 10px;
    padding-right: 0;
  }

  .request-header .request-id {
    display: table-cell;
    padding: 8px;
    padding-left: 0;
  }

  .request-header .request-id i {
    vertical-align: middle;
  }

  .request-header .request-id .request-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
  }

  .request-header .request-detail-item {
    padding: 10px;
    border-left: 1px solid #CCC;
    display: table-cell;
  }

  /** Toolbar styles */
  .toolbar {
    height: 50px;
    padding: 10px;
    /*border-bottom: 1px solid #CCC;*/
    background-color: #F5F5F5;
  }

  .toolbar .toolbar-item {
    display: inline-table;
  }

  .toolbar .request-category-selector {
    width: 210px;
  }

  .toolbar .search-form {
    padding: 0;
  }

  .toolbar .search-form {
    margin-right: 5px;
    margin-left: 3px;
    border-radius: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
  }

  .toolbar .search-form button#search-btn {
    margin-top: 0;
    margin-bottom: 0;
  }

  .toolbar .search-form input[type="text"], .toolbar .search-form .btn
    {
    box-shadow: none;
    background-color: #fafafa;
    border: 1px solid #fafafa !important;
  }

  .toolbar .search-form input[type="text"] {
    color: #666;
    -webkit-border-top-left-radius: 2px !important;
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -webkit-border-bottom-left-radius: 2px !important;
    -moz-border-radius-topleft: 2px !important;
    -moz-border-radius-topright: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    -moz-border-radius-bottomleft: 2px !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 2px !important;
  }

  .toolbar .search-form input[type="text"]:focus, .toolbar .search-form input[type="text"]:focus+.input-group-btn .btn
    {
    background-color: #fff;
    color: #666;
  }

  .toolbar .search-form input[type="text"]:focus+.input-group-btn .btn
    {
    border-left-color: #fff !important;
  }

  .toolbar .search-form .btn {
    color: #999;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 2px !important;
    -moz-border-radius-bottomright: 2px !important;
    -moz-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 0 !important;
  }

  /** Table styles */
  .table {
    margin-bottom: 0;
    background-color: #F5F5F5;
  }

  /*.table .ht_clone_left {*/
    /*/!** Hide the duplicate header rows *!/*/
    /*display: none;*/
  /*}*/

  .table .ht_master.handsontable {
     /*padding-top: 1px;*/
  }

  .table input.htCheckboxRendererInput {
    margin: 0;
    vertical-align: middle;
  }

  /** Centre the last row (checkboxes */
  .table td:last-child {
    /*text-align: center;*/
  }

  .table .currentRow {
    background-color: #F9F9FB !important;
  }

  .handsontable td.htInvalid {
    background-color: #F2DEDE !important;
    border-color: #EBCCD1 !important;
  }

  /** Remove shadow from column headers */
  /*.handsontable .handsontable:not(.ht_master) table {*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*border-bottom: 1px solid #ccc;*/
  /*}*/

  /** Footer styles */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 50px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #CCC;
  }

  .footer .request-description {
    padding: 15px;
    padding-left: 0;
  }

  .footer button.btn {
    margin-top: 8px;
  }

  /** Alert styles */
  .alert-messages {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 7000;
    width: 350px;
    margin-right: 10px;
  }

  .alert-success {
    color: #3C763D !important;
    background-color: #DFF0D8 !important;
    border-color: #D6E9C6 !important;
  }

  .alert-danger {
    color: #A94442 !important;
    background-color: #F2DEDE !important;
    border-color: #EBCCD1 !important;
  }
</style>


<section class="request-header container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <div class="pull-left">
        <h4 class="request-id">
          <i class="fa fa-list-ol fa-fw text-muted"></i>
          {{ 'REQUESTS' | translate | lowercase }} <span class="text-muted">/</span> {{::ctrl.request.requestId}}
          <small class="request-description">{{::ctrl.request.description}}</small>
        </h4>
      </div>

      <div class="pull-right">
        <!-- <span class="text-muted">
        {{ctrl.request.type | uppercase}}
        </span> -->
        <span class="request-detail-item text-muted" tooltip="{{'SYSTEM_SUBSYSTEM'|translate}}" tooltip-append-to-body="true" tooltip-placement="bottom">
          <i class="fa fa-fw fa-sitemap"></i>
          {{::ctrl.request.subsystem.value}}
        </span>
        <span class="request-detail-item text-muted" tooltip="{{'DOMAIN'|translate}}" tooltip-append-to-body="true" tooltip-placement="bottom">
          <i class="fa fa-fw fa-crosshairs"></i>
          {{::ctrl.request.domain}}
        </span>
        <span class="request-detail-item text-muted" tooltip="{{'CATEGORIES'|translate}}" tooltip-append-to-body="true" tooltip-placement="bottom">
          <i class="fa fa-fw fa-cogs"></i>
          {{ctrl.request.categories.join(', ')}}
        </span>
        <span class="request-detail-item text-muted" tooltip="{{'CREATOR'|translate}}" tooltip-append-to-body="true" tooltip-placement="bottom">
          <i class="fa fa-fw fa-user"></i>
          {{::ctrl.request.creator.username}}
        </span>
        <span class="request-detail-item"  tooltip="{{'STATUS'|translate}}" tooltip-append-to-body="true" tooltip-placement="bottom">
          <span class="label request-status" ng-class="'{{::ctrl.request.status}}'">
            {{::ctrl.request.status.replace('_', ' ')}}
          </span>
        </span>

      </div>

    </div>
  </div>
</section>

<!-- Alerts are shown here -->
<div class="alert-messages">
  <alert ng-repeat="alert in alerts"
         type="{{alert.type}}"
         close="alert.close()">
    {{alert.message}}
  </alert>
</div>


<section class="toolbar container-fluid">

  <div class="row">
    <div class="col-lg-12">

      <div class="pull-left request-category-selector">
        <!-- Dropdown button to select category -->
        <div class="btn-group toolbar-item" dropdown>
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
            <span class="text-muted">{{'CATEGORY'|translate}}:</span>
            {{ctrl.activeCategory.name}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="category in ctrl.schema.categories | enabled:ctrl.request.status track by category.name"
                ng-click="ctrl.activateCategory(category)">
              <a>{{::category.name}}</a>
            </li>
          </ul>
        </div>

        <!-- Button to dynamically add a new tab category -->
        <div class="btn-group toolbar-item" dropdown ng-show="::ctrl.request.status == 'IN_PROGRESS'">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle tooltip="{{'ADD_CATEGORY'|translate}}">
            <i class="fa fa-plus"></i>
          </button>
          <ul class="new-tab-menu dropdown-menu" role="menu">
            <li ng-repeat="tab in ctrl.availableCategories">
              <a ng-click="ctrl.addExtraCategory(tab)">{{::tab}}</a>
            </li>
            <li ng-show="ctrl.availableCategories.length == 0" class="dropdown-header">
              {{'NO_CATEGORIES_AVAILABLE'|translate}}
            </li>
          </ul>
        </div>
      </div>


      <!-- Button to save the request -->
      <button class="btn btn-sm btn-default toolbar-item" ng-click="ctrl.save()" tooltip-append-to-body="true" tooltip="{{'SAVE'|translate}}">
        <i class="fa fa-fw fa-save saving-state"></i>

        <!-- Saving state indicators -->
        <span ng-show="$root.saving == 'started'">
          <i class="fa fa-fw fa-spin fa-cog saving-state"></i>
        </span>
        <span ng-show="$root.saving == 'success'">
          <i class="fa fa-fw fa-check saving-state text-success"></i>
        </span>
        <span ng-show="$root.saving == 'error'">
          <i class="fa fa-fw fa-exclamation-triangle saving-state text-danger"></i>
        </span>
      </button>

      <!-- Button to reset column sorting -->
      <button class="btn btn-sm btn-default toolbar-item" ng-click="ctrl.resetSorting()" tooltip-append-to-body="true"
              tooltip="{{'RESET_SORTING'|translate}}">
        <span class="glyphicon glyphicon-erase"></span>
      </button>

      <!-- Undo/redo buttons -->
      <div class="btn-group">
        <button class="btn btn-sm btn-default" ng-click="ctrl.undo()" ng-disabled="!ctrl.hot.isUndoAvailable()" tooltip-append-to-body="true" tooltip="{{'UNDO'|translate}}">
          <i class="fa fa-fw fa-undo"></i>
        </button>
        <button class="btn btn-sm btn-default" ng-click="ctrl.redo()" ng-disabled="!ctrl.hot.isRedoAvailable()" tooltip-append-to-body="true" tooltip="{{'REDO'|translate}}">
          <i class="fa fa-fw fa-repeat"></i>
        </button>
      </div>

      <!-- Cut/copy/paste buttons -->
      <div class="btn-group toolbar-item">
        <button class="btn btn-sm btn-default" ng-click="ctrl.cut()" tooltip-append-to-body="true" tooltip="{{'CUT'|translate}}">
          <i class="fa fa-fw fa-scissors"></i>
        </button>
        <button class="btn btn-sm btn-default" ng-click="ctrl.copy()" tooltip-append-to-body="true" tooltip="{{'COPY'|translate}}">
          <i class="fa fa-fw fa-copy"></i>
        </button>
        <button class="btn btn-sm btn-default" ng-click="ctrl.paste()" tooltip-append-to-body="true" tooltip="{{'PASTE'|translate}}">
          <i class="fa fa-fw fa-paste"></i>
        </button>
      </div>

      <div class="pull-right">

        <button class="btn btn-sm btn-default toolbar-item" ng-click="ctrl.showComments()" tooltip-append-to-body="true" tooltip="{{'COMMENTS'|translate}}">
          <i class="fa fa-fw fa-comments"></i>
          {{ctrl.request.comments.length}}
        </button>

        <button class="btn btn-sm btn-default toolbar-item" ng-click="ctrl.showHistory()" tooltip-append-to-body="true" tooltip="{{'HISTORY'|translate}}">
          <i class="fa fa-fw fa-history"></i>
        </button>

        <!-- Search form -->
        <form class="search-form toolbar-item form-inline pull-right">
          <div class="form-group input-group">
            <input type="text" name="query" ng-model="query" class="form-control input-sm" placeholder="{{'THIS_REQUEST'|translate}}">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-sm btn-flat" ng-click="ctrl.search(query)">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>



<section class="table" style="overflow: hidden; height: 600px;" ng-cloak>
  <hot-table id="table" settings="ctrl.settings"
             datarows="ctrl.rows"
             columns="ctrl.columns">
  </hot-table>
</section>

<style>
  .log {
    height: 38px;
  }

  .log .accordion  {
    position: absolute;
    width: 100%;
    bottom: 50px;
    z-index: 999;
    left: 0;
    right: 0;
  }

  .log .panel-group {
    margin-bottom: 0;
  }

  .log .panel-heading, .log .panel-group .panel, .log .panel {
    border-radius: 0;
    box-shadow: none;
    border-left: none;
    border-right: none;
  }
</style>

<section class="log">
  <div class="container-fluid">
    <accordion class="accordion">
      <accordion-group is-open="status.open">
        <accordion-heading>
          <div>
            <span class="label bg-red">
              <i class="fa fa-fw fa-exclamation-triangle"></i> 4
            </span>
            <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-up': !status.open}"></i>
          </div>
        </accordion-heading>

        Line 1: Error message <br />
        Line 2: Another error message <br />
        Line 3: Serious error here <br />
        Line 4: Best check yo self! <br />
      </accordion-group>
    </accordion>
  </div>
</section>

<footer class="footer">
  <div class="container-fluid">

    <div class="request-description pull-left">
      <span>{{ctrl.request.points.length}} {{ctrl.request.points.length == 1 ? 'point' : 'points'}} &middot;</span>
      <!--<span>{{ctrl.getSelectedPointIds().length}} {{ctrl.getSelectedPointIds().length  == 1 ? 'point' : 'points'}} {{'SELECTED'|translate}}</span>-->

      <!-- If this is a child request, reference its parent -->
      <span class="details" ng-if="ctrl.request.parentRequestId">
        {{'PARENT'|translate}}: <a href="#/requests/{{ctrl.request.parentRequestId}}">{{::ctrl.request.parentRequestId}}</a> &middot;
      </span>

      <!-- If this is a parent request, list its children -->
      <span class="details" ng-if="ctrl.children.length > 0">
        {{'CHILDREN'|translate}}:
        <span ng-repeat="child in ctrl.children">
          <a href="#/requests/{{child.requestId}}">{{::child.requestId}}</a>
        </span>
      </span>
    </div>


    <!-- Show appropriate extra controls based on the request status -->
    <div class="pull-right">
      <span ng-switch="ctrl.request.status">
        <span ng-switch-when="IN_PROGRESS">
          <creation-controls></creation-controls>
        </span>
        <span ng-switch-when="FOR_CORRECTION">
          <creation-controls></creation-controls>
        </span>
        <span ng-switch-when="FOR_APPROVAL">
          <approval-controls></approval-controls>
        </span>
        <span ng-switch-when="FOR_ADDRESSING">
          <addressing-controls></addressing-controls>
        </span>
        <span ng-switch-when="FOR_CABLING">
          <cabling-controls></cabling-controls>
        </span>
        <span ng-switch-when="FOR_TESTING">
          <testing-controls></testing-controls>
        </span>
      </span>
    </div>

  </div>
</footer>
