
<!-- Content Header (Page header) -->
<section id="request-header" class="content-header">
  <h1>
    <i class="fa fa-list fa-fw text-muted" style="vertical-align: middle;"></i>
    requests <span class="text-muted">/</span> {{ctrl.request.requestId}} <small>{{ctrl.request.description}}</small>
    
    <span style="font-size: 70%;" class="label pull-right bg-green">{{ctrl.request.status}}</span>
  </h1>

  <div id="request-main-nav">
    <tabset justified="false"> 
      <tab ng-click="ctrl.activateTab(0)">
        <tab-heading> <i class="fa fa-edit"></i>Edit</tab-heading>
      </tab> 
      <tab ng-click="ctrl.activateTab(1)">
        <tab-heading> <i class="fa fa-exclamation-triangle"></i>Error report</tab-heading>
      </tab> 
      <tab ng-click="ctrl.activateTab(2)">
        <tab-heading> <i class="fa fa-heartbeat"></i>Activity</tab-heading>
      </tab> 
      <tab ng-click="ctrl.activateTab(3)">
        <tab-heading><i class="fa fa-comments"></i>Comments</tab-heading>
      </tab> 
    </tabset>
  </div>

</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-12">

      <!-- Request editing page -->
      <div ng-show="ctrl.currentActiveTab == 0">
        <!-- Default box -->
        <!-- <div class="box box-solid"> -->
        <div class="box-header with-border">
          <h3 class="box-title">Request type: {{ctrl.request.type}}, Domain: {{ctrl.request.domain}}, Data source: {{ctrl.request.datasource}}</h3>
        </div>
        <div class="box-body">

          <!-- 
            This is the main table directive.
          -->
          <div editable-table request="ctrl.request" schema="ctrl.schema"></div>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">{{ctrl.request.schema}}</div>
        <!-- /.box-footer-->
        <!-- </div> -->
        <!-- /.box -->
      </div>

      <!-- Request error report page -->
      <div ng-show="ctrl.currentActiveTab == 1">stuff</div>

      <!-- Request activity page -->
      <div ng-show="ctrl.currentActiveTab == 2">more stuff</div>

      <!-- Request comments page -->
      <div ng-show="ctrl.currentActiveTab == 3">too much stuff</div>
    </div>
  </div>

</section>
<!-- /.content -->