<style>
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #f4f4f4;
    color: #444;
}
  .tasklist-controls {
    margin-bottom: 10px;
  }

  .tasklist-controls .search-form input[type="text"] {
    box-shadow: none;
    border-right: none;
  }

  .tasklist-controls .search-form input[type="text"]:focus {
    border-color: #D2D6DE !important;
    /*/border-left: none;*/
  }

  .tasklist-controls .search-form .btn {
    box-shadow: none;
    background-color: #fff;
    border-color: #D2D6DE;
    border-left: none;
  }

  .todo-list > li .tools {
    display: inline-block;
  }

  .todo-list > li .label {
    font-size: 12px;
  }
</style>


<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3" style="min-width: 200px;">
      <div class="box box-solid">
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active: ctrl.filter.status == ''}">
              <a href="" ng-click="ctrl.filter.status = ''" >
                <i class="fa fa-circle-o"></i> All </a>
              </li>
            <li ng-class="{active: ctrl.filter.status == 'IN_PROGRESS'}">
              <a href="" ng-click="ctrl.filter.status = 'IN_PROGRESS'" >
              <i class="fa fa-inbox"></i> In Progress
              <span class="label request-status pull-right" ng-class="'IN_PROGRESS'">{{(ctrl.requests | filter:{status: 'IN_PROGRESS'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'FOR_CORRECTION'}">
              <a href="" ng-click="ctrl.filter.status = 'FOR_CORRECTION'">
                <i class="fa fa-exclamation-circle"></i> For Correction
                <span class="label request-status pull-right" ng-class="'FOR_CORRECTION'">{{(ctrl.requests | filter:{status: 'FOR_CORRECTION'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'FOR_APPROVAL'}">
              <a href="" ng-click="ctrl.filter.status = 'FOR_APPROVAL'">
                <i class="fa fa-bell-o"></i> For Approval
                <span class="label request-status pull-right" ng-class="'FOR_APPROVAL'">{{(ctrl.requests | filter:{status: 'FOR_APPROVAL'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'FOR_TESTING'}">
              <a href="" ng-click="ctrl.filter.status = 'FOR_TESTING'">
                <i class="fa fa-check-square-o"></i> For Testing
                <span class="label request-status pull-right" ng-class="'FOR_TESTING'">{{(ctrl.requests | filter:{status: 'FOR_TESTING'}).length}}</span>
              </a>
            </li>
            <li ng-class="{active: ctrl.filter.status == 'CLOSED'}">
              <a href="" ng-click="ctrl.filter.status = 'CLOSED'">
                <i class="fa fa-lock"></i> Closed
                <span class="label request-status pull-right" ng-class="'CLOSED'">{{(ctrl.requests | filter:{status: 'CLOSED'}).length}}</span>
              </a>
            </li>
          </ul>
        </div><!-- /.box-body -->
      </div><!-- /. box -->
    </div><!-- /.col -->
    <div class="col-md-9">
      <div class="box box-solid">
        <div class="box-body no-padding">

          <div class="tasklist-controls">
            <div class="btn-group">
              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                  <i class="fa fa-fw fa-square"></i>
                  <span class="text-muted">system: </span>{{ctrl.filter.subsystem.system != '' ? ctrl.filter.subsystem.system : 'Any'}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="" ng-click="ctrl.filter.subsystem.system = ''; ctrl.filter.subsystem.subsystem = ''">Any</a>
                  </li>
                  <li class="divider"></li>
                  <li ng-repeat="request in ctrl.requests | unique:'subsystem.system'">
                    <a href="" ng-click="ctrl.filter.subsystem.system = request.subsystem.system">{{request.subsystem.system}}</a>
                  </li>
                </ul>
              </div>
              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle ng-disabled="ctrl.filter.subsystem.system == ''">
                  <i class="fa fa-fw fa-sitemap"></i>
                  <span class="text-muted">subsystem: </span>{{ctrl.filter.subsystem.subsystem != '' ? ctrl.filter.subsystem.subsystem : 'Any'}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="" ng-click="ctrl.filter.subsystem.subsystem = ''">Any</a>
                  </li>
                  <li class="divider"></li>
                  <li ng-repeat="request in ctrl.requests | filter:ctrl.filter.subsystem.system | unique:'subsystem.subsystem'">
                    <a href="" ng-click="ctrl.filter.subsystem.subsystem = request.subsystem.subsystem">{{request.subsystem.subsystem}}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="btn-group" dropdown>
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                <i class="fa fa-fw fa-crosshairs"></i>
                <span class="text-muted">domain: </span>{{ctrl.filter.domain != '' ? ctrl.filter.domain : 'Any'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="" ng-click="ctrl.filter.domain = ''">Any</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="request in ctrl.requests | unique:'domain'"><a href="" ng-click="ctrl.filter.domain = request.domain">{{request.domain}}</a></li>
              </ul>
            </div>

<!--             <div class="btn-group" dropdown>
              <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                <i class="fa fa-fw fa-sitemap"></i>
                <span class="text-muted">categories: </span>{{ctrl.filter.categories != '' ? ctrl.filter.categories : 'Any'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="" ng-click="ctrl.filter.categories = ''">Any</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="request in ctrl.requests | unique:'categories'"><a href="" ng-click="ctrl.filter.categories = request.categories">{{request.categories}}</a></li>
              </ul>
            </div> -->

            <div class="btn-group" dropdown>
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                <i class="fa fa-fw fa-user"></i>
                <span class="text-muted">creator: </span>{{ctrl.filter.creator != '' ? ctrl.filter.creator : 'Any'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="" ng-click="ctrl.filter.creator = ''">Any</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="request in ctrl.requests | unique:'creator'"><a href="" ng-click="ctrl.filter.creator = request.creator">{{request.creator}}</a></li>
              </ul>
            </div>

            <div class="btn-group" dropdown>
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                <span class="text-muted">type: </span>{{ctrl.filter.type != '' ? ctrl.filter.type : 'Any'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="" ng-click="ctrl.filter.type = ''">Any</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="request in ctrl.requests | unique:'type'"><a href="" ng-click="ctrl.filter.type = request.type">{{request.type}}</a></li>
              </ul>
            </div>

            <!--<div class="pull-right">-->
              <!--<form class="form-inline search-form">-->
                <!--<div class="form-group input-group">-->
                  <!--<input type="text" name="q" ng-model="q" class="form-control" placeholder="Search requests...">-->
                  <!--<span class="input-group-btn">-->
                    <!--<button type="submit" name="search" id="search-btn" class="btn btn-flat">-->
                      <!--<i class="fa fa-search"></i>-->
                    <!--</button>-->
                  <!--</span>-->
                <!--</div>-->
              <!--</form>-->
            <!--</div>-->
          </div>

          <ul class="todo-list">

            <li ng-repeat="request in ctrl.requests | filter: ctrl.filter">
              <div class="request-icon">
                <i class="fa fa-list-ol fa-fw text-muted vcenter"></i>
              </div>
              <div class="request-title">
                <span class="text">{{request.description}}</span>
                <span class="label request-status pull-right" ng-class="'{{request.status}}'">{{request.status.replace('_', ' ')}}</span>
                <br/>
                <span class="text-muted" style="margin-left: 5px;">
                  #{{request.requestId}} by <!-- <i class="fa fa-fw fa-user"></i> --> {{request.creator}}
                </span>

<!--                 <span class="text-muted">
                  <i class="fa fa-fw fa-user"></i>
                  {{request.type}}
                </span> -->
                <span class="text-muted" style="margin-left: 5px;">
                  <!-- <i class="fa fa-fw fa-crosshairs"></i> -->
                  {{request.domain}} &middot;
                </span>
                <span class="text-muted">
                  <!-- <i class="fa fa-fw fa-sitemap"></i> -->
                  {{request.subsystem.name}} &middot;
                </span>
                <span class="text-muted">
                  <!-- <i class="fa fa-fw fa-cogs"></i> -->
                  {{request.categories.join(', ')}}
                </span>

                <div class="tools">

                  <!-- Show different options based on the request status -->
                  <span ng-switch="request.status">

                    <span ng-switch-when="IN_PROGRESS">
                      <!-- Only the request owner can edit the request -->
                      <button class="btn btn-default btn-xs" ng-click="ctrl.editRequest(request)">
                        <i class="fa fa-fw fa-edit"></i>
                        Edit
                      </button>
                      <button class="btn btn-default btn-xs" ng-click="ctrl.deleteRequest(request)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </span>

                    <span ng-switch-when="FOR_CORRECTION">
                      <!-- Only the request owner can correct the errors -->
                      <button class="btn btn-default btn-xs" ng-click="ctrl.editRequest(request)">
                        <i class="fa fa-fw fa-edit"></i>
                        Edit
                      </button>
                    </span>

                    <span ng-switch-when="FOR_APPROVAL">
                      <!-- Only approvers can approve -->
                      <button class="btn btn-default btn-xs" ng-click="ctrl.editRequest(request)">
                        <i class="fa fa-fw fa-hand-o-right"></i>
                        Approve
                      </button>
                    </span>

                    <span ng-switch-when="FOR_TESTING">
                      <!-- Only testers can test -->
                      <button class="btn btn-default btn-xs" ng-click="ctrl.editRequest(request)">
                        <i class="fa fa-fw fa-hand-o-right"></i>
                        Test
                      </button>
                    </span>

                    <span ng-switch-when="CLOSED">
                      <!-- Everyone can view a closed request -->
                      <button class="btn btn-default btn-xs" ng-click="ctrl.editRequest(request)">
                        <i class="fa fa-fw fa-eye"></i>
                        View
                      </button>
                    </span>
                  </span>
                </div>
              </div>
            </li>

          </ul>

        </div><!-- /.box-body -->
      </div><!-- /. box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
