
<div class="form-group" ng-class="{ 'has-error': (form.domain.$invalid && form.domain.$dirty)
                                              || (form.$submitted && form.domain.$invalid) }">
  <label for="domain" class="col-sm-3 control-label">
    <i class="fa fa-fw fa-crosshairs"></i>
    {{'DOMAIN'|translate}}
  </label>
  <div class="col-sm-9">
    <select class="form-control" ng-model="ctrl.request.domain"
            ng-options="domain.name as domain.name for domain in ctrl.domains"
            ng-change="ctrl.updateCategories()" name="domain" required ></select>
    <span class="help-block" translate>SELECT_DOMAIN</span>
  </div>
</div>

<div class="form-group" ng-show="ctrl.request.domain"
  ng-class="{ 'has-error': (form.$submitted && ctrl.request.categories.length == 0) }">
  <label for="categories" class="col-sm-3 control-label">
    <i class="fa fa-fw fa-gears"></i>
    {{'CATEGORIES'|translate}}
  </label>
  <div class="col-sm-9">

    <label class="checkbox-inline" ng-repeat="category in ctrl.categories">
      <input type="checkbox" value="{{category}}" ng-checked="ctrl.request.categories.indexOf(category) > -1"
             ng-click="ctrl.toggleCategory(category)" name="categories"> {{category}}
    </label>

    <span class="help-block" translate>SELECT_CATEGORIES</span>
  </div>
</div>

<div class="form-group has-feedback" ng-show="ctrl.request.domain"
  ng-class="{ 'has-error': (form.$submitted && form.system.$invalid) }">
  <label for="System/Subsystem" class="col-sm-3 control-label">
    <i class="fa fa-fw fa-sitemap"></i>
    {{'SYSTEM_SUBSYSTEM'|translate}}
  </label>
  <div class="col-sm-9">

  <!-- TODO: use input-field directive to replace this -->

    <input type="text" ng-model="ctrl.request.subsystem" placeholder="System/Subsystem"
      typeahead="subsystem as subsystem.name for subsystem in ctrl.getSubsystems($viewValue)"
      typeahead-loading="loadingSubsystems"
      typeahead-editable="false" class="form-control" name="system" required>
    <i ng-show="loadingSubsystems" class="fa fa-fw fa-spin fa-refresh form-control-feedback"></i>
    <span class="help-block" translate>SELECT_SUBSYSTEM</span>
  </div>
</div>