
<div class="form-group" ng-class="{ 'has-error': (form.domain.$invalid && form.domain.$dirty)
                                              || (form.$submitted && form.domain.$invalid) }">
  <label class="col-sm-3 control-label">
    {{'DOMAIN'|translate}}
    <i class="fa fa-fw fa-crosshairs"></i>
  </label>
  <div class="col-sm-9">
    <select class="form-control" ng-model="ctrl.request.domain"
            ng-options="schema.id as schema.id for schema in ctrl.schemas"
            ng-change="ctrl.updateCategories()" name="domain" required ></select>
    <span class="help-block" translate>SELECT_DOMAIN</span>
  </div>
</div>

<!--<div class="form-group has-feedback" ng-show="ctrl.request.domain"-->
  <!--ng-class="{ 'has-error': (form.$submitted && form.system.$invalid) }">-->
  <!--<label class="col-sm-3 control-label">-->
    <!--{{'SYSTEM_SUBSYSTEM'|translate}}-->
    <!--<i class="fa fa-fw fa-sitemap"></i>-->
  <!--</label>-->
  <!--<div class="col-sm-9">-->

    <!--<input type="text" ng-model="ctrl.request.subsystem" placeholder="System/Subsystem"-->
      <!--typeahead="subsystem as subsystem.value for subsystem in ctrl.getSubsystems($viewValue)"-->
      <!--typeahead-loading="loadingSubsystems"-->
      <!--typeahead-editable="false" class="form-control" name="system" required>-->
    <!--<i ng-show="loadingSubsystems" class="fa fa-fw fa-spin fa-refresh form-control-feedback"></i>-->
    <!--<span class="help-block" translate>SELECT_SUBSYSTEM</span>-->
  <!--</div>-->
<!--</div>-->