<!DOCTYPE html>
<html layout:decorator="base"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">


  <p>
    Dear <span th:text="${request.creator.firstName + ' ' + request.creator.lastName}">Justin</span>,
  </p>

  <p>
    This is an automatic email notifying you that your MODESTI request #<b><span
      th:text="${request.requestId}">42</span>
    (<span th:text="${request.description}">Very important points to be monitored</span>)</b> has been approved by TI
    operators.
  </p>

  <p>
    The status of your request can be viewed at any time by visiting the link below.
  </p>

  <table>
    <tr>
      <td class="padding">
        <p>
          <a th:href="@{${url}}" th:text="${url}" class="btn-primary">(static URL to be replaced)</a>
        </p>
      </td>
    </tr>
  </table>

  <p>
    Best regards,
    <br/>
    <em>The MODESTI team</em>
  </p>


</div>
</body>
</html>