<!DOCTYPE html>
<html layout:decorator="base"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">


  <p>
    Dear
    <span th:text="${request.creator.firstName + ' ' + request.creator.lastName}"></span>,
  </p>

  <p>
    This is an automatic email notifying you that your MODESTI request
  </p>
  <p>
    #<b th:text="${request.requestId} + '(' + ${request.description} + ')'"></b>
  </p>
  <p>
    has been <b th:text="${request.getApproved()} ? 'approved' : 'rejected'"></b> by TI operators.
  </p>

  <p th:if="${!request.getApproved()}">
    You can see the detailed reasons as to why your request was rejected by visiting the link below. Once you have
    taken into consideration the operator comments and modified your request accordingly, you can re-submit your
    request for approval.
  </p>

  <p>
    The status of your request can be viewed at any time by visiting the link below.
  </p>

  <table>
    <tr>
      <td class="padding">
        <p>
          <a th:href="@{${url}}" th:text="${url}" class="btn-primary"></a>
        </p>
      </td>
    </tr>
  </table>

  <p>
    Best regards,
    <br/>
    <em>The MODESTI team</em>
  </p>


</div>
</body>
</html>