<!DOCTYPE html>
<html layout:decorator="base"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">

  <p>
    This is an automatic email notification that a new MODESTI request has been <b>submitted for approval</b>.
  </p>

  <table class="request-info">
    <tr>
      <th>
        <span>#</span>
      </th>
      <td>
        <span th:text="${request.requestId}">42</span>
      </td>
    </tr>
    <tr>
      <th>
        <span>Description</span>
      </th>
      <td>
        <span th:text="${request.description}">description</span>
      </td>
    </tr>
    <!--<tr>-->
      <!--<th>-->
        <!--<span>System/Subsystem</span>-->
      <!--</th>-->
      <!--<td>-->
        <!--<span th:text="${request.subsystem.value}">ACCE ZORA</span>-->
      <!--</td>-->
    <!--</tr>-->
    <tr>
      <th>
        <span>Domain</span>
      </th>
      <td>
        <span th:text="${request.domain}">TIM</span>
      </td>
    </tr>
    <tr>
      <th>
        <span>Creator</span>
      </th>
      <td>
        <span th:text="${request.creator.firstName + ' ' + request.creator.lastName}">Johnny Static</span>
      </td>
    </tr>
  </table>

  <p>
    To begin approval of this request, please visit the link below.
  </p>

  <table>
    <tr>
      <td class="padding">
        <p>
          <a th:href="@{${url}}" th:text="${url}" class="btn-primary"></a>
        </p>
      </td>
    </tr>
  </table>

  <p>
    Best regards,
    <br/>
    <em>The MODESTI team</em>
  </p>


</div>
</body>
</html>