<div class="row">
  <div class="col-lg-12">

    <column-selector
        schema="$ctrl.schema"
        table="$ctrl.table"
        enable-filters="false">
    </column-selector>


    <!-- Button to save the request -->
    <button class="btn btn-sm btn-default toolbar-item"
            enable-if="task-assigned-to-current-user"
            ng-click="$ctrl.save()"
            tooltip-append-to-body="true"
            uib-tooltip="Save">
      <i class="fa fa-fw fa-save saving-state"></i>

      <!-- Saving state indicators -->
      <span ng-show="$root.saving == 'started'">
        <i class="fa fa-fw fa-spin fa-cog saving-state"></i>
      </span>
      <span ng-show="$root.saving == 'success'">
        <i class="fa fa-fw fa-check saving-state text-success"></i>
      </span>
      <span ng-show="$root.saving == 'error'">
        <i class="fa fa-fw fa-exclamation-triangle saving-state text-danger"></i>
      </span>
    </button>



    <!-- Undo/redo buttons -->
    <div class="btn-group">
      <a class="btn btn-sm btn-default"
         ng-click="$ctrl.undo()"
         ng-disabled="!$ctrl.table.hot.isUndoAvailable()"
         tooltip-append-to-body="true"
         uib-tooltip="Undo">
        <i class="fa fa-fw fa-undo"></i>
      </a>
      <a class="btn btn-sm btn-default"
         ng-click="$ctrl.redo()"
         ng-disabled="!$ctrl.table.hot.isRedoAvailable()"
         tooltip-append-to-body="true"
         uib-tooltip="Redo">
        <i class="fa fa-fw fa-repeat"></i>
      </a>
    </div>


    <!-- Cut/copy/paste buttons -->
    <div class="btn-group toolbar-item">
      <button class="btn btn-sm btn-default"
              enable-if="task-assigned-to-current-user"
              ng-click="$ctrl.cut()"
              tooltip-append-to-body="true"
              uib-tooltip="Cut">
        <i class="fa fa-fw fa-scissors"></i>
      </button>
      <button class="btn btn-sm btn-default"
              ng-click="$ctrl.copy()"
              tooltip-append-to-body="true"
              uib-tooltip="Copy">
        <i class="fa fa-fw fa-copy"></i>
      </button>
      <button class="btn btn-sm btn-default"
              enable-if="task-assigned-to-current-user"
              ng-click="$ctrl.paste()"
              tooltip-append-to-body="true"
              uib-tooltip="Paste">
        <i class="fa fa-fw fa-paste"></i>
      </button>
    </div>


    <!-- Assignment button -->
    <button class="btn btn-sm btn-default toolbar-item"
            enable-if="user-authorised-for-task"
            ng-click="$ctrl.assignTask()"
            tooltip-append-to-body="true"
            uib-tooltip="Set Assignee"
            style="margin-left: 20px;">
      <i class="fa fa-fw fa-user"></i>
      Assignee:
      <span ng-if="!$ctrl.getAssignee()">none</span>
      <span ng-if="$ctrl.getAssignee()"><a href="">{{$ctrl.getAssignee()}}</a></span>
    </button>

    <!-- "Assign to me" button -->
    <button show-if="user-authorised-for-task && !task-assigned-to-current-user"
            ng-click="$ctrl.assignTaskToCurrentUser()"
            class="btn btn-sm btn-default toolbar-item">
      Assign to me
    </button>

    <!-- Unassign button -->
    <button show-if="user-authorised-for-task && task-assigned-to-current-user"
            ng-click="$ctrl.unassignTask()"
            class="btn btn-sm btn-default toolbar-item">
      Unassign
    </button>


    <!-- Show a red warning if the request is restricted to administrators only -->
    <span class="toolbar-item"
          ng-if="$ctrl.isCurrentTaskRestricted() && !$ctrl.isCurrentUserAuthorised()"
          ng-disabled="true"
          style="vertical-align: middle">
      <span class="text-danger"><i class="fa fa-fw fa-exclamation-triangle"></i> Restricted to administrators</span>
    </span>


    <div class="pull-right">


      <!-- Comments button -->
      <button ng-click="$ctrl.showComments()"
              tooltip-append-to-body="true"
              uib-tooltip="Comments"
              ng-class="$ctrl.request.comments.length > 0 ? 'btn-danger' : 'btn-default'"
              class="btn btn-sm toolbar-item">
        <i class="fa fa-fw fa-comments"></i>
        {{$ctrl.request.comments.length}}
      </button>


      <!-- History button -->
      <button ng-click="$ctrl.showHistory()"
              tooltip-append-to-body="true"
              uib-tooltip="History"
              class="btn btn-sm btn-default toolbar-item">
        <i class="fa fa-fw fa-history"></i>
      </button>


      <!-- Actions dropdown -->
      <div class="btn-group toolbar-item" uib-dropdown uib-dropdown-append-to-body>
        <button type="button" class="btn btn-sm btn-default dropdown" uib-dropdown-toggle>
          <i class="fa fa-fw fa-cog"></i> Actions <span class="caret text-muted"></span>
        </button>
        <ul uib-dropdown-menu class="pull-right">
          <li>
            <a ng-click="$ctrl.cloneRequest()">Clone request</a>
          </li>
          <li>
            <a ng-click="$ctrl.deleteRequest()" show-if="user-authorised-for-task">Delete request</a>
          </li>
        </ul>
      </div>

    </div>


  </div>
</div>
