
<ul class="column-detail-panel list-unstyled">

  <li ng-repeat="category in $ctrl.schema.getAllCategories()">

    <h5 class="category-header" ng-click="$ctrl.toggleExpandCategory(category)">
      <i class="fa" ng-class="$ctrl.isExpandedCategory(category) ? 'fa-minus' : 'fa-plus'"></i>

      <b>{{::category.name}}</b>

      <input type="checkbox"
             class="pull-right"
             ng-checked="$ctrl.table.isVisibleColumnGroup(category.fields)"
             uib-tooltip="Click to show/hide the entire group of columns"
             tooltip-append-to-body="true"
             tooltip-placement="right"
             ng-click="$event.stopPropagation(); $ctrl.toggleCategory(category)"
             style="margin-top: 1px;">

      <i class="fa fa-exclamation-circle text-danger pull-right"
         ng-if="$ctrl.table.settings.requestStatus && $ctrl.table.isInvalidCategory(category)"></i>
    </h5>

    <ul class="list-unstyled" uib-collapse="!$ctrl.isExpandedCategory(category)">
      <li ng-repeat="field in category.fields" ng-mouseover="hover = true" ng-mouseleave="hover = false">

        <div class="column-detail">

          <div class="column-detail-header"
               ng-click="$ctrl.enableFilters === true && $ctrl.toggleFilter(field)">

            {{::field.name}}

            <input type="checkbox"
                   class="pull-right"
                   ng-checked="$ctrl.table.isVisibleColumn(field)"
                   ng-disabled="field.fixed === true"
                   ng-click="$event.stopPropagation(); $ctrl.toggleColumn(field)"
                   uib-tooltip="Click to show/hide column"
                   tooltip-append-to-body="true"
                   tooltip-placement="right"
                   style="margin-top: 1px;">

            <i class="fa fa-search-plus pull-right"
               ng-if="$ctrl.enableFilters === true && !$ctrl.filters['_' + field.id]"
               ng-click="$event.stopPropagation(); $ctrl.toggleFilter(field)"
               uib-tooltip="Add filter"
               tooltip-append-to-body="true"
               tooltip-placement="right"></i>

            <i class="fa fa-search-minus pull-right"
               ng-if="$ctrl.enableFilters === true && $ctrl.filters['_' + field.id]"
               ng-click="$event.stopPropagation(); $ctrl.toggleFilter(field)"
               uib-tooltip="Remove filter"
               tooltip-append-to-body="true"
               tooltip-placement="right"></i>

          </div>

          <!-- Filter entry form -->
          <form class="form-inline" ng-if="$ctrl.enableFilters === true && $ctrl.filters['_' + field.id] != null">
            <div class="form-group">
              <div class="input-group">

                <!-- Operation switcher -->
                <div class="input-group-addon">
                  <select class="form-control input-xs"
                          ng-if="field.type === 'text'"
                          ng-model="$ctrl.filters['_' + field.id].operation"
                          ng-change="$ctrl.onFiltersChanged()">
                      <option value="starts-with" ng-selected="selected">starts with</option>
                      <option value="ends-with">ends with</option>
                      <option value="equals">equals</option>
                      <option value="not-equals">not equals</option>
                      <option value="contains">contains</option>
                  </select>

                  <select class="form-control input-xs"
                          ng-if="field.type === 'numeric'"
                          ng-model="$ctrl.filters['_' + field.id].operation"
                          ng-change="$ctrl.onFiltersChanged()">
                    <option value="equals" ng-selected="selected">equals</option>
                    <option value="not-equals">not equals</option>
                    <option value="greater-than">greater than</option>
                    <option value="less-than">less than</option>
                  </select>

                  <select class="form-control input-xs"
                          ng-if="field.type === 'options'"
                          ng-model="$ctrl.filters['_' + field.id].operation"
                          ng-change="$ctrl.onFiltersChanged()">
                    <option value="equals" ng-selected="selected">equals</option>
                    <option value="not-equals">not equals</option>
                  </select>

                  <select class="form-control input-xs"
                          ng-if="field.type === 'autocomplete'"
                          ng-model="$ctrl.filters['_' + field.id].operation"
                          ng-change="$ctrl.onFiltersChanged()">
                    <option value="equals" ng-selected="selected">equals</option>
                    <option value="not-equals">not equals</option>
                  </select>
                </div>

                <!-- Input field -->
                <div class="filter-input">
                  <div ng-if="field.type === 'text'">
                    <input type="text"
                           class="form-control input-xs"
                           ng-model="$ctrl.filters['_' + field.id].value"
                           ng-model-options='{ debounce: 600 }'
                           ng-change="$ctrl.onFiltersChanged()">
                  </div>

                  <div ng-if="field.type === 'numeric'">
                    <input type="number"
                           class="form-control input-xs"
                           ng-model="$ctrl.filters['_' + field.id].value"
                           ng-model-options='{ debounce: 100 }'
                           ng-change="$ctrl.onFiltersChanged()">
                  </div>

                  <div ng-if="field.type === 'options'">
                    <select class="form-control input-xs"
                            ng-options="$ctrl.getOptionValue(option) as $ctrl.getOptionDisplayValue(option) for option in field.options"
                            ng-model="$ctrl.filters['_' + field.id].value"
                            ng-model-options='{ debounce: 100 }'
                            ng-change="$ctrl.onFiltersChanged()">
                      <option value=""></option>
                    </select>

                  </div>

                  <div ng-if="field.type === 'autocomplete'">
                    <input type="text"
                           class="form-control input-xs"
                           autocomplete="off"
                           placeholder="Type to search..."
                           ng-model="$ctrl.filters['_' + field.id].value"
                           ng-model-options='{ debounce: 600 }'
                           typeahead="(field.model ? item[field.model] : item.value) for item in $ctrl.queryFieldValues(field, $viewValue)"
                           typeahead-on-select="$ctrl.search()"
                           typeahead-min-length="field.minLength"
                           typeahead-append-to-body="true">
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </li>
</ul>
