.column-panel {
  position: absolute;
  width: 300px;
  top: 90px;
  left: 0;
  bottom: 50px;
  overflow-y: auto;
  background-color: #f5f5f5;
  padding-left: 15px;
  padding-right: 15px;
}

.column-detail-panel input[type=checkbox] {
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
}

.column-detail-panel .form-inline .form-group {
  width: 100%;
}

.column-detail-panel .form-inline .input-group {
  width: 100%;
}

.column-detail-panel .form-inline .input-group-addon {
  padding: 0;
  width: 100px;
}

.column-detail-panel .form-inline .input-group-addon select {
  padding: 0;
  height: 30px;
  width: 100px;
  margin: 0;
  border: none;
}

.column-detail-panel .form-inline .filter-input {
  width: 100%;
}

.column-detail-panel .form-inline .filter-input input,
.column-detail-panel .form-inline .filter-input select {
  width: 100%;
}

.column-detail-panel .form-inline input {
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
}

.column-detail {
  margin-bottom: 5px;
}

.column-detail-panel .category-header {
  /*margin-left: -6px;*/
  cursor: pointer;
}

.column-detail-panel .category-header i.fa-plus,
.column-detail-panel .category-header i.fa-minus {
  margin-right: 2px;
  color: #999;
  cursor: pointer;
  vertical-align: bottom;
}

.column-detail-panel .column-detail-header {
  cursor: pointer;
}
