.tasklist-controls .search-form input[type="text"] {
  box-shadow: none;
  border-right: none;
}

.tasklist-controls .search-form input[type="text"]:focus {
  border-color: #D2D6DE !important;
  /*/border-left: none;*/
}

.tasklist-controls .search-form .btn {
  box-shadow: none;
  background-color: #fff;
  border-color: #D2D6DE;
  border-left: none;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.ui-select-bootstrap > .ui-select-match > .btn {
  padding-right: 25px;
}

.ui-select-bootstrap .ui-select-choices-row > a {
  padding: 3px 10px;
}

.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: #e1e3e9;
  color: #333;
}

a.btn.btn-xs.btn-link {
  margin-right: 0 !important;
}

.tasklist-controls .filter {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0;
}

.dropdown-menu > li > a > .glyphicon, .dropdown-menu > li > a > .fa, .dropdown-menu > li > a > .ion {
  margin-right: 0;
}

.ui-select-bootstrap > .ui-select-choices {
  max-height: 500px;
  width: auto;
}

.badge {
  font-weight: normal;
  background-color: transparent;
  color: #555;
}

.text-muted.badge .fa {
  color: #bfbfbf;
}

.filter-hide-closed {
  padding: 7px;
}

.filter-hide-closed input[type="checkbox"] {
  margin: 4px;
  vertical-align: middle;
}