
<style>

</style>

<section class="content">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!--<div class="page-header">-->
          <h3><i class="fa fa-user"></i> {{ctrl.user.firstName}} {{ctrl.user.lastName}} </h3>
          <div class="help-block">{{ctrl.user.username}}</div>
        <!--</div>-->

        <table class="table">
          <tr>
            <th>Email</th>
            <td>{{ctrl.user.email}}</td>
          </tr>
          <tr>
            <th>Roles</th>
            <td>
              <span ng-repeat="role in ctrl.user.roles">{{role.authority}} <br /></span>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>

</section>