<style>

</style>

<section class="content">

  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <div class="page-header">
          <h1><i class="fa fa-list-ol" style="font-size: 34px;"></i> MODESTI</h1>

          <p class="lead text-muted">Monitoring Data Entry System for Technical Infrastructure</p>
        </div>

        <div class="page-body justify">

          <h3>Getting started</h3>

          <p>To begin with, use the links at the top of the page to get started. You can <a href="requests">view the
            current requests</a>, <a href="requests/new">create a new request</a> or <a href="requests/upload">upload
            an existing request</a>. </p>

          <h3>Help and support</h3>

          <p>If you are a MODESTI user and you are having trouble with the system, please send an email to <a
              href="mailto:modesti-support@cern.ch">modesti-support@cern.ch</a>. If you think you have found a bug in
            the system and you know how to file a bug report, please create one <a
                href="https://gitlab.cern.ch/modesti/modesti/issues/new">here</a>. </p>

          <h3>Problems logging in?</h3>

          <p>If you seem unable to log in to MODESTI, you may need to install the CERN SSL certificates in your browser. To do this, go to
            <a href="https://cafiles.cern.ch/cafiles/certificates/Grid.aspx">this link</a> and follow the instructions
            to install both the "CERN Root Certification Authority" and the "CERN Grid Certification Authority" certificates to your browser.</p>
        </div>
      </div>
    </div>
  </div>

</section>
