<div class="filter-builder" ng-show="$ctrl.showFilters===true">

  <div class="filter input-group" ng-repeat="(fieldId, filter) in $ctrl.filters track by $index">

    <span ng-if="filter"
            uib-popover-template="'filter-popover.tpl'"
            popover-placement="bottom-left"
            popover-trigger="'outsideClick'"
            popover-is-open="filter.isOpen"
            ng-click="filter.isOpen = !filter.isOpen"
            class="btn btn-sm btn-default">

      {{filter.field.name}} {{$ctrl.getOperationDisplayValue(filter.operation)}}

      <span ng-if="filter.value">"{{filter.value}}"</span>
      <span ng-if="!filter.value && filter.operation!=='is-empty'">any</span>


      <i class="fa fa-times remove-filter-icon"
         ng-click="$ctrl.removeFilter(filter)"
         uib-tooltip="Remove filter"
         tooltip-append-to-body="true"
         tooltip-placement="right"></i>
    </span>

    <script type="text/ng-template" id="filter-popover.tpl">

      <form class="form-inline" ng-submit="filter.isOpen = false">
        <div class="input-group">
          <!-- Operation switcher -->
          <div class="input-group-addon operation-switcher">
            <select class="form-control input-xs"
                    ng-if="filter.field.type === 'text'"
                    ng-model="filter.operation"
                    ng-change="$ctrl.onFiltersChanged()">
              <option value="starts-with" ng-selected="selected">starts with</option>
              <option value="ends-with">ends with</option>
              <option value="equals">equals</option>
              <option value="not-equals">not equals</option>
              <option value="contains">contains</option>
              <option value="is-empty">is empty</option>
            </select>

            <select class="form-control input-xs"
                    ng-if="filter.field.type === 'numeric'"
                    ng-model="filter.operation"
                    ng-change="$ctrl.onFiltersChanged()">
              <option value="equals" ng-selected="selected">equals</option>
              <option value="not-equals">not equals</option>
              <option value="greater-than">above</option>
              <option value="less-than">below</option>
              <option value="is-empty">is empty</option>
            </select>

            <select class="form-control input-xs"
                    ng-if="filter.field.type === 'options'"
                    ng-model="filter.operation"
                    ng-change="$ctrl.onFiltersChanged()">
              <option value="equals" ng-selected="selected">equals</option>
              <option value="not-equals">not equals</option>
            </select>

            <select class="form-control input-xs"
                    ng-if="filter.field.type === 'autocomplete'"
                    ng-model="filter.operation"
                    ng-change="$ctrl.onFiltersChanged()">
              <option value="equals" ng-selected="selected">equals</option>
              <option value="not-equals">not equals</option>
              <option value="contains">contains</option>
            </select>
          </div>

          <!-- Input field -->
          <div class="filter-input">
            <div ng-if="filter.field.type === 'text'">
              <input type="text"
                     class="form-control input-xs"
                     ng-model="filter.value"
                     ng-model-options='{ debounce: 600 }'
                     ng-show="filter.operation!=='is-empty'"
                     ng-change="$ctrl.onFiltersChanged()">
            </div>

            <div ng-if="filter.field.type === 'numeric'">
              <input type="number"
                     class="form-control input-xs"
                     ng-model="filter.value"
                     ng-model-options='{ debounce: 100 }'
                     ng-show="filter.operation!=='is-empty'"
                     ng-change="$ctrl.onFiltersChanged()">
            </div>

            <div ng-if="filter.field.type === 'options'">
              <select class="form-control input-xs"
                      ng-options="$ctrl.getOptionValue(option) as $ctrl.getOptionDisplayValue(option) for option in filter.field.options"
                      ng-model="filter.value"
                      ng-model-options='{ debounce: 100 }'
                      ng-change="$ctrl.onFiltersChanged()">
                <option value=""></option>
              </select>

            </div>

            <div ng-if="filter.field.type === 'autocomplete' && filter.operation !== 'contains'">
              <input type="text"
                     class="form-control input-xs"
                     autocomplete="off"
                     placeholder="Type to search..."
                     ng-model="filter.value"
                     ng-model-options='{ debounce: 200 }'
                     uib-typeahead="(filter.field.model ? item[filter.field.model] : item.value) for item in $ctrl.queryFieldValues(filter.field, $viewValue)"
                     typeahead-on-select="$ctrl.onFiltersChanged()"
                     typeahead-min-length="field.minLength"
                     typeahead-append-to-body="true">
            </div>

            <div ng-if="filter.field.type === 'autocomplete' && filter.operation === 'contains'">
              <input type="text"
                     class="form-control input-xs"
                     ng-model="filter.value"
                     ng-model-options='{ debounce: 600 }'
                     ng-change="$ctrl.onFiltersChanged()">
            </div>

          </div>
        </div>
      </form>
    </script>      
  </div>


  <script type="text/ng-template" id="filter-builder-popover.tpl">
    <div class="filter-builder-popover">
    <div class="popover-title">
      Choose criteria
    </div>

    <div class="popover-content-scroll">
      <ul>
        <li ng-repeat="category in $ctrl.schema.categories">
          <span class="category-label">{{::category.name}}</span>

          <ul>
            <li ng-repeat="field in category.fields"
                ng-click="$ctrl.addFilter(field)">
              <div class="field-label">{{field.name}}</div>
            </li>
          </ul>
        </li>

        <li class="divider" ng-if="$ctrl.schema.datasources.length > 0"></li>

        <li ng-repeat="datasource in $ctrl.schema.datasources">
          <span class="category-label">{{::datasource.name}}</span>

          <ul>
            <li ng-repeat="field in datasource.fields"
                ng-click="$ctrl.addFilter(field)">
              <div class="field-label">{{field.name}}</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="popover-footer">
      <button type="button"
              ng-click="$ctrl.popoverIsOpen = false"
              class="btn btn-sm btn-default">
        Done
      </button>
    </div>
    </div>
  </script>

  

  <button uib-popover-template="'filter-builder-popover.tpl'"
          popover-placement="bottom-left"
          popover-trigger="'outsideClick'"
          popover-is-open="$ctrl.popoverIsOpen"
          popover-class="filter-builder-popover"
          ng-click="$ctrl.popoverIsOpen = !$ctrl.popoverIsOpen"
          ng-show="$ctrl.showFilters===true"
          type="button"
          class="btn btn-sm btn-default">
    <i class="fa fa-plus"></i>
    &nbsp;Add filter
  </button>

</div>

<div ng-show="$ctrl.showFilters===false" style="padding-top: 5px;">
    <span class="text-danger">
      <i class="fa fa-fw fa-exclamation-triangle"></i>
    Filters disabled while 'show selected' checkbox is checked
    </span>
  </div>
