
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>New request</h1>
  <ol class="breadcrumb">
    <li>
      <a href="#/">
        <i class="fa fa-home"></i>
        Home
      </a>
    </li>
    <li class="active">New request</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Create a new Verity request</h3>
        </div>
        <!-- /.box-header -->

        <div class="box-body">

          <form name="newRequestForm" class="form-horizontal" novalidate>
            <div class="form-group">
              <label for="requestType" class="col-sm-2 control-label">Request Type</label>
              <div class="col-sm-10">
                <label class="radio-inline">
                  <input type="radio" name="requestType" id="requestType" value="create" checked>
                  Create
                </label>
                <label class="radio-inline">
                  <input type="radio" name="requestType" id="requestType" value="update" disabled>
                  Update
                </label>
                <label class="radio-inline">
                  <input type="radio" name="requestType" id="requestType" value="delete" disabled>
                  Delete
                </label>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': newRequestForm.description.$invalid && newRequestForm.description.$dirty }">
              <label for="description" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="description" name="description" placeholder="Description" required>
              </div>
            </div>

            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">Domain</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="domain" name="domain">
                  <option>TIM</option>
                  <option>CSAM</option>
                  <option>PVSS</option>
                </select>
              </div>
            </div>

            <div class="form-group" ng-show="domain == 'TIM'">
              <label for="datasource" class="col-sm-2 control-label">Data source</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="datasource" name="datasource" placeholder="Data source" required>
              </div>
            </div>

            <div class="form-group has-feedback" ng-show="domain == 'TIM'">
              <label for="System/Subsystem" class="col-sm-2 control-label">System/Subsystem</label>
              <div class="col-sm-10">
                <input type="text" ng-model="asyncSelected" placeholder="System/Subsystem" typeahead="system for system in getSystems($viewValue)"
                  typeahead-loading="loadingSystems" class="form-control">
                <i ng-show="loadingSystems" class="fa fa-fw fa-spin fa-refresh form-control-feedback"></i>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Next</button>
              </div>
            </div>
          </form>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

          <tt>description = {{description}}</tt>
          <br>
          <tt>newRequestForm.requestType = {{newRequestForm.requestType}}</tt>
          <br>
          <tt>newRequestForm.description.$error = {{newRequestForm.description.$error}}</tt>
          <br>
          <tt>newRequestForm.$valid = {{newRequestForm.$valid}}</tt>
          <br>
          <tt>newRequestForm.$error.required = {{!!newRequestForm.$error.required}}</tt>
          <br>
        </div>

      </div>
    </div>
  </div>

</section>
<!-- /.content -->