
<!-- Content Header (Page header) -->
<section id="request-header" class="content-header">
  <h1>
    <i class="fa fa-list fa-fw text-muted" style="vertical-align: middle;"></i>
    requests <span class="text-muted">/</span> {{request.requestId}}
    
    <span style="font-size: 70%;" class="label pull-right bg-green">{{request.status}}</span>
  </h1>

  <div id="request-main-nav">
    <tabset justified="true"> 
      <tab> 
        <tab-heading> <i class="fa fa-edit"></i>Edit</tab-heading>
      </tab> 
      <tab> 
        <tab-heading> <i class="fa fa-exclamation-triangle"></i>Error report</tab-heading>
      </tab> 
      <tab> 
        <tab-heading> <i class="fa fa-heartbeat"></i>Activity</tab-heading>
      </tab> 
      <tab> 
        <tab-heading><i class="fa fa-comments"></i>Comments</tab-heading>
      </tab> 
    </tabset>
  </div>

</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-12">

      <!-- Default box -->
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Request type: {{request.type}}, Domain: {{request.domain}}, Data source: {{request.datasource}}</h3>
        </div>
        <div class="box-body">

          <!-- 
            This is the main table directive.
          -->
          <div editable-table request="request"></div>

        </div>
        <!-- /.box-body -->
        
        <div class="box-footer">
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </div>
  </div>

</section>
<!-- /.content -->