<style>
  li > a.new-tab {
    border-top: 1px dashed #ccc !important;
    border-right: 1px dashed #ccc !important;
    border-left: 1px;
    border-bottom: 1px !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    padding: 4px 10px 3px;
  }

  li > a.new-tab:hover, li > a.new-tab:focus {
    background: #EEEEEE;
    border-top: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-left: 1px;
    border-bottom: 1px !important;
  }

  li > ul.new-tab-menu {
    margin-top: 1px !important;
    margin-left: -1px;
  }
</style>

<div class="nav-tabs">

  <!-- Create a new tab for each category -->
  <tabset class="category-headings"> 
    <tab ng-repeat="category in ctrl.schema.categories" 
         heading="{{category.name}}" select="ctrl.activateCategory(category)" class="category-heading"></tab>

    <!-- Button to dynamically add a new tab category -->
    <li dropdown>
      <a dropdown-toggle class="new-tab dropdown-toggle" href=""><i class="fa fa-plus-square-o"></i></a>
      <ul class="new-tab-menu dropdown-menu" role="menu">
        <li ng-repeat="tab in ctrl.availableCategories"><a ng-click="ctrl.addNewCategory(tab)">{{tab}}</a></li>
      </ul>
    </li>
  </tabset>

  <!-- This is the actual point input table itself -->
  <table ng-table="ctrl.tableParams" class="table table-bordered table-striped" template-pagination="custom/pager">
    <thead>
      <tr>
        <th>#</th>

        <!-- Column header for each field in the currently active category -->
        <th ng-repeat="field in ctrl.activeFields" class="text-left sortable"
            ng-class="{'sort-asc': ctrl.tableParams.isSortBy('properties.' + field.id, 'asc'),
                      'sort-desc': ctrl.tableParams.isSortBy('properties.' + field.id, 'desc')}"
            ng-click="ctrl.tableParams.sorting('properties.' + field.id, ctrl.tableParams.isSortBy('properties.' + field.id, 'asc') ? 'desc' : 'asc')">
            <div class="sort-indicator">{{field.name}}</div>
        </th>

        <!-- Checkbox column header -->
        <th>
          <input type="checkbox" ng-model="ctrl.checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
        </th>
      </tr>

      <!-- Special table row containing filter boxes -->
      <tr ng-show="show_filter">
        <th></th>
        <th ng-repeat="field in ctrl.activeFields" class="text-center sortable">
          <input type="text" class="form-control" ng-model="ctrl.searchText[field.id]" ng-model-options="{debounce: 250}" />
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Row for each point in the request -->
      <tr ng-repeat="point in $data" ng-form="pointForm">

          <!-- Line number field -->
          <td class="input-field text-muted" width="30" style="text-align: center; vertical-align: middle;"
          ng-class="{ 'bg-danger': (pointForm.$invalid && pointForm.$dirty) 
                        || (pointForm.$submitted && pointForm.$invalid) }">
            {{$data.indexOf(point) + 1}}
          </td>
  
          <!-- Input field for each field in the currently active category -->
          <td class="input-field" ng-repeat="field in ctrl.activeFields" >
            <!-- Custom directive to generate an input field based on the field schema -->
            <span input-field model="point.properties[field.id]" schema="field"></span>
          </td>
  
          <!-- Checkbox for each point -->
          <td class="input-field" width="30" style="text-align: center; vertical-align: middle;">
            <input type="checkbox" ng-model="ctrl.checkboxes.items[point.id]" />
          </td>
          
            
      </tr>
    </tbody>

    <!-- Table footer toolbar -->
    <tfoot>
      <tr>
        <td colspan="20">
        
          <div class="btn-group">
            <!-- Button to add a new row -->
            <button class="btn btn-default" ng-click="ctrl.addRow()" tooltip-append-to-body="true" tooltip="Add row">
              <a>
                <i class="fa fa-fw fa-plus"></i>
              </a>
            </button>

            <!-- Button to duplicate selected rows -->
            <button class="btn btn-default" ng-click="ctrl.duplicateSelectedRows()" tooltip-append-to-body="true" tooltip="Duplicate selected rows" 
                    ng-disabled='!ctrl.checkboxes.dirty'>
              <a>
                <i class="fa fa-fw fa-copy"></i>
              </a>
            </button>
            
            <!-- Button to delete selected rows -->
            <button class="btn btn-default" ng-click="ctrl.deleteSelectedRows()" tooltip-append-to-body="true" tooltip="Delete selected rows"
                    ng-disabled='!ctrl.checkboxes.dirty'>
              <a>
                <i class="fa fa-fw fa-remove"></i>
              </a>
            </button>
          </div>

          <!-- Button to activate the filter text boxes at the top of the table -->
          <button class="btn btn-default" ng-click="ctrl.toggleFilter()" tooltip-append-to-body="true" tooltip="Filter rows">
            <a>
              <i class="fa fa-fw fa-filter"></i>
            </a>
          </button>

          <!-- Button to save the request -->
          <button class="btn btn-default" ng-click="ctrl.save()">
            
            <!-- Saving state indicators -->
            <a ng-show="$root.saving == undefined"><i class="fa fa-fw fa-save saving-state" tooltip-append-to-body="true" tooltip="Save request"></i></a>
            <a ng-show="$root.saving == 'started'"><i class="fa fa-fw fa-spin fa-cog saving-state" tooltip-append-to-body="true" tooltip="Saving..."></i></a>
            <a ng-show="$root.saving == 'success'"> <i class="fa fa-fw fa-save saving-state" tooltip-append-to-body="true" tooltip="Saved"></i></a>
            <a ng-show="$root.saving == 'error'" > <i class="fa fa-fw fa-exclamation-triangle saving-state text-danger" tooltip-append-to-body="true" tooltip="Problem saving"></i></a>
        
          </button>
        
          <!-- Custom pagination -->
          <div class="ng-cloak ng-table-pager pull-right" ng-if="params.data.length">
            <ul class="pagination ng-table-pagination pull-right" ng-hide="params.settings().$scope.pages == 0">
              <li ng-class="{'disabled': !page.active && !page.current, 'active': page.current}" ng-repeat="page in pages" ng-switch="page.type">
                <a ng-switch-when="prev"  ng-click="params.page(page.number)" href="">&laquo;</a>
                <a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                <a ng-switch-when="page"  ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                <a ng-switch-when="more"  ng-click="params.page(page.number)" href="">&#8230;</a>
                <a ng-switch-when="last"  ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                <a ng-switch-when="next"  ng-click="params.page(page.number)" href="">&raquo;</a>
              </li>
            </ul>
            <div ng-if="params.settings().counts.length" class="ng-table-counts btn-group">
              <button ng-repeat="count in params.settings().counts" type="button"
                      ng-class="{'active':params.count() == count}"
                      ng-click="params.count(count)" class="btn btn-default">
                <span ng-bind="count"></span>
              </button>
            </div>
          </div>
          <!-- Remove default pagination -->
          <script type="text/ng-template" id="custom/pager"></script>
          
        </td>
      </tr>
      
      <tr>
        <td colspan="20">

          <div class="btn-group" ng-click="ctrl.validate()">
            <!-- Button to validate the request -->
            <button ng-show="$root.validating == undefined" class="btn btn-primary"  tooltip-append-to-body="true" tooltip="Validate request">
               <i class="fa fa-fw fa-check-square-o"></i> Validate
            </button>
            
            <button ng-show="$root.validating == 'started'" class="btn btn-primary" tooltip-append-to-body="true" tooltip="Validating...">
               <i class="fa fa-fw fa-spin fa-cog"></i> Validate
            </button>
            
            <button ng-show="$root.validating == 'success'" class="btn btn-success" tooltip-append-to-body="true" tooltip="Request is valid">
               <i class="fa fa-fw fa-check-square-o"></i> Validate
            </button>
            
            <button ng-show="$root.validating == 'error'" class="btn btn-danger" tooltip-append-to-body="true" tooltip="Problem validating request">
               <i class="fa fa-fw fa-exclamation-triangle"></i> Invalid
            </button>
            
            <!-- Button to submit the request -->
            <button class="btn btn-default" ng-click="ctrl.submit()" ng-disabled="$root.validating != 'success'" tooltip-append-to-body="true" tooltip="Submit request">
                <i class="fa fa-fw fa-external-link"></i> Submit
            </button>
          </div>
          
          <span>{{ctrl.validationResult}}</span>
        </td>
      </tr>
    </tfoot>

  </table>
</div>