<div class="pull-right">

  <div class="btn-group">
    <button class="btn btn-success" ng-click="ctrl.cableSelectedPoints($event)" translate>CABLE_SELECTED</button>
  </div>
  
  <div class="btn-group">
  
    <button class="btn btn-primary"
            ng-click="ctrl.submit($event)"
            tooltip-append-to-body="true"
            tooltip="{{ 'SUBMIT_CABLING' | translate}}">
  
      <!--Show icon based on the loading state-->
      <i class="fa fa-fw fa-external-link"        ng-show="ctrl.submitting == undefined"></i>
      <i class="fa fa-fw fa-spin fa-cog"          ng-show="ctrl.submitting == 'started'"></i>
      <i class="fa fa-fw fa-external-link"        ng-show="ctrl.submitting == 'success'"></i>
      <i class="fa fa-fw fa-exclamation-triangle" ng-show="ctrl.submitting == 'error'"></i>
      {{ 'SUBMIT' | translate}}
    </button>
  
  </div>

</div>