<style>
  div.progressbar {
    display: inline-block;
    /*position: absolute;*/
    /*right: 150px;*/
    /*top: 15px;*/
  }

  div.progressbar .action {
    /* position: absolute;
    display: inline-block; */
    /* width: 290px; */
    margin-right: 10px;
  }

  div.progressbar .progress {
    /* position: absolute;
    display: inline-block; */
    width: 200px;
    background-color: #ccc;
    margin-bottom: 0;
    margin-right: 20px;
  }
</style>

<div class="row">

  <div class="col-md-3">
    <span class="label pull-left"
          ng-class="ctrl.parent.hasErrors() > 0 ? 'bg-red' : 'bg-gray'"
          tooltip="{{ctrl.parent.getTotalErrors()}} problems(s) found. Click to view details."
          tooltip-placement="right">
      <i class="fa fa-fw fa-exclamation-circle"></i> {{ctrl.parent.getTotalErrors()}}
    </span>
  </div>

  <div class="col-md-9">
    <div ng-if="ctrl.parent.isCurrentUserAuthorised()" class="pull-right">

      <!-- Request has been claimed -->
      <div ng-if="ctrl.parent.isCurrentTaskClaimed()">

        <!-- Request has been claimed by us -->
        <div ng-if="ctrl.parent.isCurrentUserAssigned()">

          <div class="progressbar" ng-if="ctrl.progress">
            <span class="action pull-left">
              <i ng-if="ctrl.progress.action">{{ctrl.progress.action}}</i>
              <i ng-if="ctrl.progress.progress">({{ctrl.progress.progress}}%)</i>
            </span>

            <progressbar class="progress-striped active" max="100" value="ctrl.progress.progress"></progressbar>
          </div>

          <div class="btn-group pull-right">

            <button class="btn btn-primary"
                    ng-click="ctrl.configure($event)"
                    tooltip-append-to-body="true"
                    tooltip="Configure request"> <!--tooltip="{{'CONFIGURE_REQUEST'|translate}}">-->

              <!--Show icon based on the loading state-->
              <i class="fa fa-fw fa-cog" ng-show="ctrl.configuring == undefined"></i>
              <i class="fa fa-fw fa-spin fa-cog" ng-show="ctrl.configuring == 'started'"></i>
              <i class="fa fa-fw fa-cog" ng-show="ctrl.configuring == 'success'"></i>
              <i class="fa fa-fw fa-exclamation-triangle" ng-show="ctrl.configuring == 'error'"></i>
              Configure <!--{{'CONFIGURE'|translate}}-->
            </button>
          </div>

        </div>

        <!-- Request is assigned to someone else -->
        <div ng-if="!ctrl.parent.isCurrentUserAssigned()">
          <div>
            Request assigned to:
            <a href="users/{{ctrl.parent.getAssignee()}}" ng-click="$event.stopPropagation();">
              {{ctrl.parent.getAssignee()}}
            </a>
          </div>
        </div>
      </div>

      <!-- Request is unclaimed -->
      <div ng-if="!ctrl.parent.isCurrentTaskClaimed()">
        <div class="btn-group">
          <button class="btn btn-primary"
                  ng-click="ctrl.parent.claim($event)">
            Claim configuration responsibility
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
